## Install OpenHPC Base Packages

Now OpenHPC packages can be installed. To add the base package on the head node
issue the following:

<!-- ohpc_begin -->
```bash
{{ pkg_install }} ohpc-base
```
<!-- ohpc_end -->
