[Unit]
Description=Stores data from Nagios in a database
Documentation=http://www.nagios.org/documentation

[Service]
Type=forking
User=nagios
Group=nagios
PIDFile=/var/run/ndoutils/ndo2db.pid
ExecStart=/usr/sbin/ndo2db -c /etc/nagios/ndo2db.cfg

[Install]
WantedBy=nagios.service
