{% raw %}\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage{fancyvrb}
\usepackage{xcolor}

% Define light gray color for code block backgrounds
\definecolor{codebggray}{RGB}{245,245,245}
\definecolor{codebordergray}{RGB}{204,204,204}

% Define OpenHPC logo blue color for tip boxes
\definecolor{logoblue}{RGB}{96,170,210}

% Define tip box environment matching original OpenHPC style (without tcolorbox)
\newsavebox{\tipboxcontent}
\newenvironment{tipbox}{%
  \par\vspace{6pt}\noindent
  \begin{lrbox}{\tipboxcontent}%
  \begin{minipage}{\dimexpr\linewidth-20pt-3pt\relax}%
  \colorbox{logoblue}{\makebox[\linewidth][l]{\color{white}\bfseries~Tip}}\\[4pt]
  \setlength{\parskip}{6pt}%
}{%
  \end{minipage}%
  \end{lrbox}%
  \fboxsep=10pt%
  \fboxrule=1.5pt%
  \fcolorbox{logoblue}{white}{\usebox{\tipboxcontent}}%
  \par\vspace{6pt}
}

% Allocate a box for code blocks
\newsavebox{\shadedbox}

% Configure page headers - use AtBeginDocument to override Pandoc defaults
\AtBeginDocument{%
  % Undefine Shaded environment if it exists, then define our custom version
  \let\Shaded\relax
  \let\endShaded\relax
  \newenvironment{Shaded}{%
    \par\noindent
    \begingroup
    \fboxsep=3mm
    \begin{lrbox}{\shadedbox}%
    \begin{minipage}{\dimexpr\linewidth-2\fboxsep-2\fboxrule\relax}%
    \setlength{\parskip}{6pt}%
  }{%
    \end{minipage}%
    \end{lrbox}%
    \fcolorbox{codebordergray}{codebggray}{\usebox{\shadedbox}}%
    \endgroup
    \par
  }

  \pagestyle{fancy}
  \fancyhf{} % Clear all headers and footers
  \fancyhead[L]{\small\textsf{Install Guide (v{% endraw %}{{ ohpc_version }}{% raw %}): {% endraw %}{{ distro_full_name }}{% raw %}/{% endraw %}{{ arch | replace("_", "\\_") }}{% raw %} + {% endraw %}{{ provisioner_name }}{% raw %} + {% endraw %}{{ scheduler_name }}{% raw %}}}
  \fancyhead[R]{\includegraphics[width=1cm]{figures/ohpc_wordmark_color.pdf}}
  \fancyfoot[C]{\thepage} % Keep page numbers in footer
  \renewcommand{\headrulewidth}{0pt} % Remove header rule

  % For the title page, use plain style with no header
  \fancypagestyle{plain}{%
    \fancyhf{}
    \fancyfoot[C]{\thepage}
    \renewcommand{\headrulewidth}{0pt}
  }
  \thispagestyle{plain} % Apply plain style to first page
}{% endraw %}
