## Register Compute Nodes for Provisioning

Nodes can be registered for provisioning using the following:
<!-- ohpc_begin -->
```bash
for ((i=0; i<num_computes; i++)) ; do
    wwctl node add --image={{ baseos }} --profile=nodes --netname=default \
        --ipaddr="${c_ip[$i]}" --hwaddr="${c_mac[$i]}" "${c_name[i]}"
done
```
<!-- ohpc_end -->
