## Install Warewulf on *Head Node*

To add support for provisioning services, we install the Warewulf provisioning
system packages. Then the main Warewulf configuration files are edited to
reflect the environment. The `yq` package is also installed to aid in
configuring Warewulf `yaml` files.

<!-- ohpc_begin -->
<!-- ohpc_comment Add baseline OpenHPC -->
```bash
# Make sure required variables are set
: "${sms_eth_internal:?ERROR: sms_eth_internal not set}"
: "${internal_network:?ERROR: internal_network not set}"

# Install Warewulf
{{ pkg_install }} warewulf-ohpc yq
```
<!-- ohpc_end -->
