## OpenCHAMI Client Install

OpenCHAMI is very configurable, and it has a client that allows you
to do most of the configuration via the command line, so installing that client
makes management much easier.

<!-- ohpc_begin -->
<!-- ohpc_comment OpenCHAMI Client Install -->
```bash
{{ pkg_install }} \
	https://github.com/OpenCHAMI/ochami/releases/download/\
v{{ ochami_version }}/ochami_{{ ochami_version }}_linux_{{ github_arch }}.rpm
mkdir -p /etc/ochami && touch /etc/ochami/config.yaml
ochami config cluster set --system --default \
	cluster cluster.uri https://${sms_name}:8443
```
<!-- ohpc_end -->
