## Compute Image Configuration

We first create a directory for the compute image configuration files.

<!-- ohpc_begin -->
```bash
# Create compute image configuration directory
mkdir -v -p /opt/ohpc/admin/images/data
```
<!-- ohpc_end -->
