We now set (or refresh) the secret token used for `ochami` commands.

<!-- ohpc_begin -->
<!-- ohpc_comment Set Access token -->
```bash
CLUSTER_ACCESS_TOKEN=$(gen_access_token)
export CLUSTER_ACCESS_TOKEN
```
<!-- ohpc_end -->
