<!-- ohpc_begin -->
{% if is_slurm %}
<!-- ohpc_comment Add Slurm and other components to compute instance -->
```bash
# Copy credential files to ensure consistent uid/gids for slurm/munge
cp /etc/passwd /etc/group $CHROOT/etc

# Add Slurm client support meta-package and enable munge and slurmd
{{ pkg_install_chroot }} ohpc-slurm-client
chroot $CHROOT systemctl enable munge
chroot $CHROOT systemctl enable slurmd

# Register Slurm server with computes (using "configless" option)
echo SLURMD_OPTIONS="--conf-server ${sms_ip}" > $CHROOT/etc/sysconfig/slurmd
{% elif is_openpbs %}
<!-- ohpc_comment Add OpenPBS and other components to compute instance -->
```bash
# Add OpenPBS client support
{{ pkg_install_chroot }} openpbs-execution-ohpc
sed -i "s/PBS_SERVER=\S\+/PBS_SERVER=${sms_name}/" $CHROOT/etc/pbs.conf
echo "PBS_LEAF_NAME=${sms_name}" >> /etc/pbs.conf
{% if is_sles %}
echo "${sms_ip} ${sms_name}" >> $CHROOT/etc/hosts
{% endif %}
chroot $CHROOT opt/pbs/libexec/pbs_habitat
sed -i "s/\\\$clienthost \S\+/\\\$clienthost ${sms_name}/" \
    $CHROOT/var/spool/pbs/mom_priv/config
echo "\$usecp *:/home /home" >> $CHROOT/var/spool/pbs/mom_priv/config
chroot $CHROOT systemctl enable pbs
{% endif %}

# Add Network Time Protocol (NTP) support
{{ pkg_install_chroot }} chrony
{% if is_sles %}
chroot $CHROOT systemctl enable chronyd
{% endif %}
# Identify head node as local NTP server
echo "server ${sms_ip} iburst" >> $CHROOT/etc/chrony.conf

# Add kernel drivers
{% if is_sles %}
{{ pkg_install_chroot }} kernel-default
{% else %}
{{ pkg_install_chroot }} kernel-$(uname -r)
{% endif %}
# Include modules user environment
{{ pkg_install_chroot }} lmod-ohpc
{% if is_sles %}
# Enable ssh access
chroot $CHROOT systemctl enable sshd.service

# Remove default hostname to allow WW to provision network names
mv $CHROOT/etc/hostname $CHROOT/etc/hostname.orig

# Provide udev rules to enable /dev/ipath access for InfiniPath devices
cp /opt/ohpc/pub/examples/udev/60-ipath.rules $CHROOT/etc/udev/rules.d/
{% endif %}
```
<!-- ohpc_end -->
