tests/ex1
tests/ex1.o
tests/ex11
tests/ex11.o
tests/ex12f
tests/ex12f.o
tests/ex2
tests/ex2.o
tests/ex3
tests/ex3.o
tests/ex4
tests/ex4.o
tests/ex5f
tests/ex5f.o
tests/ex6
tests/ex6.o
tests/ex7
tests/ex7.o
tests/ex8
tests/ex8.o
tests/ex9
tests/ex9.o
