# -*-sh-*-
#----------------------------------------------------------------------
# OS Packages
#
# This file is managed by LosF and defines individual OS packages
# which are installed on defined cluster node types.
#
# Use the "losf" command-line utilty to add/delete/update OS packages 
# to your cluster.
#
# Format 1.1
#----------------------------------------------------------------------
#----------------------------------------------------------------------
#
[OS Packages]

# end of OS Packages
