# -*-sh-*-
#----------------------------------------------------------------------
# Custom Packages
#
# This file is managed by LosF and defines individual custom packages
# which are to be installed on defined cluster node types.
#
# Use the "losf addrpm" command-line utilty to add/delete/update
# any custom built RPMs to your cluster.
#----------------------------------------------------------------------
#----------------------------------------------------------------------

# Package aliases - these are used to group like packages (or specific
# revisions) together

[Custom Packages/Aliases]

# Packages to uninsall

[Custom Packages/uninstall]

# Custom 3rd party packages (can use aliases to expand groups of
# packages)

[Custom Packages]

# end of Custom Packages
