# -*-sh-*-
#----------------------------------------------------------------------
# OS Packages
#
# This file is managed by LosF and defines individual OS packages
# which are installed on defined cluster node types.
#
# Use the "losf" command-line utilty to add/delete/update OS packages 
# to your cluster.
#
# Format 1.1
#----------------------------------------------------------------------
#----------------------------------------------------------------------
#
[OS Packages]
master=bc version=[latest] release=[latest] arch=x86_64
master=conman-ohpc version=[latest] release=[latest] arch=x86_64
master=examples-ohpc version=[latest] release=[latest] arch=x86_64
master=expect version=[latest] release=[latest] arch=x86_64
master=freeipmi version=[latest] release=[latest] arch=x86_64
master=gdb version=[latest] release=[latest] arch=x86_64
master=libstdc++-devel version=[latest] release=[latest] arch=x86_64
master=lmod-ohpc version=[latest] release=[latest] arch=x86_64
master=lua-bit-ohpc version=[latest] release=[latest] arch=x86_64
master=lua-filesystem-ohpc version=[latest] release=[latest] arch=x86_64
master=lua-posix-ohpc version=[latest] release=[latest] arch=x86_64
master=munge-libs-ohpc version=[latest] release=[latest] arch=x86_64
master=munge-ohpc version=[latest] release=[latest] arch=x86_64
master=pdsh-ohpc version=[latest] release=[latest] arch=x86_64
master=screen version=[latest] release=[latest] arch=x86_64
master=slurm-ohpc version=[latest] release=[latest] arch=x86_64
master=slurm-plugins-ohpc version=[latest] release=[latest] arch=x86_64
master=tcl version=[latest] release=[latest] arch=x86_64
master=tcsh version=[latest] release=[latest] arch=x86_64
master=pigz version=[latest] release=[latest] arch=x86_64
master=warewulf-cluster-ohpc version=[latest] release=[latest] arch=x86_64
master=warewulf-common-ohpc version=[latest] release=[latest] arch=noarch
master=warewulf-provision-ohpc version=[latest] release=[latest] arch=x86_64
master=warewulf-provision-server-ohpc version=[latest] release=[latest] arch=x86_64
master=warewulf-vnfs-ohpc version=[latest] release=[latest] arch=noarch
master=munge-devel-ohpc version=[latest] release=[latest] arch=x86_64
master=perl-Switch version=[latest] release=[latest] arch=noarch
master=slurm-devel-ohpc version=[latest] release=[latest] arch=x86_64
master=slurm-munge-ohpc version=[latest] release=[latest] arch=x86_64
master=slurm-perlapi-ohpc version=[latest] release=[latest] arch=x86_64
master=slurm-slurmdb-direct-ohpc version=[latest] release=[latest] arch=x86_64
master=slurm-slurmdbd-ohpc version=[latest] release=[latest] arch=x86_64
master=slurm-sql-ohpc version=[latest] release=[latest] arch=x86_64
master=atk version=[latest] release=[latest] arch=x86_64
master=avahi-libs version=[latest] release=[latest] arch=x86_64
master=cups-libs version=[latest] release=[latest] arch=x86_64
master=dapl version=[latest] release=[latest] arch=x86_64
master=gd version=[latest] release=[latest] arch=x86_64
master=gdk-pixbuf2 version=[latest] release=[latest] arch=x86_64
master=ghostscript version=[latest] release=[latest] arch=x86_64
master=ghostscript-fonts version=[latest] release=[latest] arch=noarch
master=graphviz version=[latest] release=[latest] arch=x86_64
master=graphviz-tcl version=[latest] release=[latest] arch=x86_64
master=gtk2 version=[latest] release=[latest] arch=x86_64
master=hicolor-icon-theme version=[latest] release=[latest] arch=noarch
master=ibacm version=[latest] release=[latest] arch=x86_64
master=ibutils version=[latest] release=[latest] arch=x86_64
master=ibutils-libs version=[latest] release=[latest] arch=x86_64
master=jasper-libs version=[latest] release=[latest] arch=x86_64
master=jbigkit-libs version=[latest] release=[latest] arch=x86_64
master=lcms2 version=[latest] release=[latest] arch=x86_64
master=libcroco version=[latest] release=[latest] arch=x86_64
master=libcxgb3 version=[latest] release=[latest] arch=x86_64
master=libcxgb4 version=[latest] release=[latest] arch=x86_64
master=libibcm version=[latest] release=[latest] arch=x86_64
master=libibmad version=[latest] release=[latest] arch=x86_64
master=libibumad version=[latest] release=[latest] arch=x86_64
master=libibverbs version=[latest] release=[latest] arch=x86_64
master=libibverbs-utils version=[latest] release=[latest] arch=x86_64
master=libipathverbs version=[latest] release=[latest] arch=x86_64
master=libmlx4 version=[latest] release=[latest] arch=x86_64
master=libmlx5 version=[latest] release=[latest] arch=x86_64
master=libmthca version=[latest] release=[latest] arch=x86_64
master=libnes version=[latest] release=[latest] arch=x86_64
master=libnl3 version=[latest] release=[latest] arch=x86_64
master=librdmacm version=[latest] release=[latest] arch=x86_64
master=librdmacm-utils version=[latest] release=[latest] arch=x86_64
master=librsvg2 version=[latest] release=[latest] arch=x86_64
master=libtiff version=[latest] release=[latest] arch=x86_64
master=libtool-ltdl version=[latest] release=[latest] arch=x86_64
master=libXaw version=[latest] release=[latest] arch=x86_64
master=libXcomposite version=[latest] release=[latest] arch=x86_64
master=libXcursor version=[latest] release=[latest] arch=x86_64
master=libXinerama version=[latest] release=[latest] arch=x86_64
master=libXmu version=[latest] release=[latest] arch=x86_64
master=libXpm version=[latest] release=[latest] arch=x86_64
master=libXrandr version=[latest] release=[latest] arch=x86_64
master=libXt version=[latest] release=[latest] arch=x86_64
master=opensm-libs version=[latest] release=[latest] arch=x86_64
master=poppler-data version=[latest] release=[latest] arch=noarch
master=rdma version=[latest] release=[latest] arch=noarch
master=swig version=[latest] release=[latest] arch=x86_64
master=tk version=[latest] release=[latest] arch=x86_64
master=urw-fonts version=[latest] release=[latest] arch=noarch
master=infinipath-psm version=[latest] release=[latest] arch=x86_64
master=intel-clck-ohpc version=[latest] release=[latest] arch=x86_64
master=time version=[latest] release=[latest] arch=x86_64
master=valgrind-ohpc version=[latest] release=[latest] arch=x86_64
master=EasyBuild-ohpc version=[latest] release=[latest] arch=x86_64
master=desktop-file-utils version=[latest] release=[latest] arch=x86_64
master=gnu-compilers-ohpc version=[latest] release=[latest] arch=x86_64
master=openblas-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=R_base-ohpc version=[latest] release=[latest] arch=x86_64
master=xdg-utils version=[latest] release=[latest] arch=noarch
master=cpp version=[latest] release=[latest] arch=x86_64
master=gcc version=[latest] release=[latest] arch=x86_64
master=gcc-c++ version=[latest] release=[latest] arch=x86_64
master=intel-compilers-devel-ohpc version=[latest] release=[latest] arch=x86_64
master=intel-compilers-ohpc version=[latest] release=[latest] arch=x86_64
master=libgomp version=[latest] release=[latest] arch=x86_64
master=libmpc version=[latest] release=[latest] arch=x86_64
master=mpfr version=[latest] release=[latest] arch=x86_64
master=intel-mpi-ohpc version=[latest] release=[latest] arch=x86_64
master=intel-vtune-ohpc version=[latest] release=[latest] arch=x86_64
master=openmpi-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=openmpi-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=prun-ohpc version=[latest] release=[latest] arch=noarch
master=mvapich2-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=mvapich2-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=intel-mpi-devel-ohpc version=[latest] release=[latest] arch=x86_64
master=imb-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=imb-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=imb-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=imb-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=imb-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=imb-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=papi-ohpc version=[latest] release=[latest] arch=x86_64
master=intel-itac-ohpc version=[latest] release=[latest] arch=x86_64
master=libpng12 version=[latest] release=[latest] arch=x86_64
master=intel-advisor-ohpc version=[latest] release=[latest] arch=x86_64
master=intel-inspector-ohpc version=[latest] release=[latest] arch=x86_64
master=mpiP-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=mpiP-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=mpiP-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=mpiP-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=mpiP-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=mpiP-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=binutils-devel version=[latest] release=[latest] arch=x86_64
master=pdtoolkit-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=pdtoolkit-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=tau-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=tau-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=tau-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=tau-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=tau-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=tau-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=zlib-devel version=[latest] release=[latest] arch=x86_64
master=lmod-defaults-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=noarch
master=adios-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=adios-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=adios-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=adios-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=adios-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=adios-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=libmxml1 version=[latest] release=[latest] arch=x86_64
master=lustre-client-ohpc version=[latest] release=[latest] arch=x86_64
master=lustre-client-ohpc-modules version=[latest] release=[latest] arch=x86_64
master=netcdf-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=phdf5-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=phdf5-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=phdf5-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=phdf5-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=phdf5-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=phdf5-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=boost-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=boost-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=boost-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=boost-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=boost-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=boost-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=fftw-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=fftw-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=gsl-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=hdf5-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=hdf5-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=hypre-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=hypre-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=hypre-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=hypre-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=hypre-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=hypre-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=metis-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=metis-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=scalapack-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=scalapack-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=scalapack-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu_dist-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu_dist-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu_dist-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu_dist-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu_dist-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=superlu_dist-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=mumps-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=mumps-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=mumps-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=mumps-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=mumps-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=mumps-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-cxx-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-cxx-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-cxx-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-cxx-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-cxx-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-cxx-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-fortran-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-fortran-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-fortran-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-fortran-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-fortran-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=netcdf-fortran-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=python-numpy-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=python-numpy-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=ocr-gnu-ohpc version=[latest] release=[latest] arch=x86_64
master=ocr-intel-ohpc version=[latest] release=[latest] arch=x86_64
master=ksh version=[latest] release=[latest] arch=x86_64
master=petsc-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=petsc-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=petsc-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=petsc-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=petsc-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=petsc-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=scalapack-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=scalapack-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=scalapack-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=python-scipy-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=python-scipy-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=trilinos-gnu-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=trilinos-gnu-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=trilinos-gnu-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
master=trilinos-intel-impi-ohpc version=[latest] release=[latest] arch=x86_64
master=trilinos-intel-mvapich2-ohpc version=[latest] release=[latest] arch=x86_64
master=trilinos-intel-openmpi-ohpc version=[latest] release=[latest] arch=x86_64
compute=munge-libs-ohpc version=[latest] release=[latest] arch=x86_64
compute=munge-ohpc version=[latest] release=[latest] arch=x86_64
compute=perl version=[latest] release=[latest] arch=x86_64
compute=perl-Carp version=[latest] release=[latest] arch=noarch
compute=perl-constant version=[latest] release=[latest] arch=noarch
compute=perl-Encode version=[latest] release=[latest] arch=x86_64
compute=perl-Exporter version=[latest] release=[latest] arch=noarch
compute=perl-File-Path version=[latest] release=[latest] arch=noarch
compute=perl-File-Temp version=[latest] release=[latest] arch=noarch
compute=perl-Filter version=[latest] release=[latest] arch=x86_64
compute=perl-Getopt-Long version=[latest] release=[latest] arch=noarch
compute=perl-HTTP-Tiny version=[latest] release=[latest] arch=noarch
compute=perl-libs version=[latest] release=[latest] arch=x86_64
compute=perl-macros version=[latest] release=[latest] arch=x86_64
compute=perl-parent version=[latest] release=[latest] arch=noarch
compute=perl-PathTools version=[latest] release=[latest] arch=x86_64
compute=perl-Pod-Escapes version=[latest] release=[latest] arch=noarch
compute=perl-Pod-Perldoc version=[latest] release=[latest] arch=noarch
compute=perl-Pod-Simple version=[latest] release=[latest] arch=noarch
compute=perl-Pod-Usage version=[latest] release=[latest] arch=noarch
compute=perl-podlators version=[latest] release=[latest] arch=noarch
compute=perl-Scalar-List-Utils version=[latest] release=[latest] arch=x86_64
compute=perl-Socket version=[latest] release=[latest] arch=x86_64
compute=perl-Storable version=[latest] release=[latest] arch=x86_64
compute=perl-Text-ParseWords version=[latest] release=[latest] arch=noarch
compute=perl-threads version=[latest] release=[latest] arch=x86_64
compute=perl-threads-shared version=[latest] release=[latest] arch=x86_64
compute=perl-Time-HiRes version=[latest] release=[latest] arch=x86_64
compute=perl-Time-Local version=[latest] release=[latest] arch=noarch
compute=slurm-devel-ohpc version=[latest] release=[latest] arch=x86_64
compute=slurm-munge-ohpc version=[latest] release=[latest] arch=x86_64
compute=slurm-ohpc version=[latest] release=[latest] arch=x86_64
compute=slurm-pam_slurm-ohpc version=[latest] release=[latest] arch=x86_64
compute=slurm-perlapi-ohpc version=[latest] release=[latest] arch=x86_64
compute=slurm-plugins-ohpc version=[latest] release=[latest] arch=x86_64
compute=slurm-sjobexit-ohpc version=[latest] release=[latest] arch=x86_64
compute=atk version=[latest] release=[latest] arch=x86_64
compute=avahi-libs version=[latest] release=[latest] arch=x86_64
compute=cairo version=[latest] release=[latest] arch=x86_64
compute=cups-libs version=[latest] release=[latest] arch=x86_64
compute=dapl version=[latest] release=[latest] arch=x86_64
compute=fontconfig version=[latest] release=[latest] arch=x86_64
compute=fontpackages-filesystem version=[latest] release=[latest] arch=noarch
compute=freetype version=[latest] release=[latest] arch=x86_64
compute=gd version=[latest] release=[latest] arch=x86_64
compute=gdk-pixbuf2 version=[latest] release=[latest] arch=x86_64
compute=ghostscript version=[latest] release=[latest] arch=x86_64
compute=ghostscript-fonts version=[latest] release=[latest] arch=noarch
compute=graphite2 version=[latest] release=[latest] arch=x86_64
compute=graphviz version=[latest] release=[latest] arch=x86_64
compute=graphviz-tcl version=[latest] release=[latest] arch=x86_64
compute=gtk2 version=[latest] release=[latest] arch=x86_64
compute=harfbuzz version=[latest] release=[latest] arch=x86_64
compute=hicolor-icon-theme version=[latest] release=[latest] arch=noarch
compute=ibacm version=[latest] release=[latest] arch=x86_64
compute=ibutils version=[latest] release=[latest] arch=x86_64
compute=ibutils-libs version=[latest] release=[latest] arch=x86_64
compute=jasper-libs version=[latest] release=[latest] arch=x86_64
compute=jbigkit-libs version=[latest] release=[latest] arch=x86_64
compute=lcms2 version=[latest] release=[latest] arch=x86_64
compute=libcroco version=[latest] release=[latest] arch=x86_64
compute=libcxgb3 version=[latest] release=[latest] arch=x86_64
compute=libcxgb4 version=[latest] release=[latest] arch=x86_64
compute=libdrm version=[latest] release=[latest] arch=x86_64
compute=libfontenc version=[latest] release=[latest] arch=x86_64
compute=libibcm version=[latest] release=[latest] arch=x86_64
compute=libibmad version=[latest] release=[latest] arch=x86_64
compute=libibumad version=[latest] release=[latest] arch=x86_64
compute=libibverbs version=[latest] release=[latest] arch=x86_64
compute=libibverbs-utils version=[latest] release=[latest] arch=x86_64
compute=libICE version=[latest] release=[latest] arch=x86_64
compute=libipathverbs version=[latest] release=[latest] arch=x86_64
compute=libjpeg-turbo version=[latest] release=[latest] arch=x86_64
compute=libmlx4 version=[latest] release=[latest] arch=x86_64
compute=libmlx5 version=[latest] release=[latest] arch=x86_64
compute=libmthca version=[latest] release=[latest] arch=x86_64
compute=libnes version=[latest] release=[latest] arch=x86_64
compute=libnl3 version=[latest] release=[latest] arch=x86_64
compute=libpciaccess version=[latest] release=[latest] arch=x86_64
compute=libpng version=[latest] release=[latest] arch=x86_64
compute=librdmacm version=[latest] release=[latest] arch=x86_64
compute=librdmacm-utils version=[latest] release=[latest] arch=x86_64
compute=librsvg2 version=[latest] release=[latest] arch=x86_64
compute=libSM version=[latest] release=[latest] arch=x86_64
compute=libthai version=[latest] release=[latest] arch=x86_64
compute=libtiff version=[latest] release=[latest] arch=x86_64
compute=libtool-ltdl version=[latest] release=[latest] arch=x86_64
compute=libX11 version=[latest] release=[latest] arch=x86_64
compute=libX11-common version=[latest] release=[latest] arch=noarch
compute=libXau version=[latest] release=[latest] arch=x86_64
compute=libXaw version=[latest] release=[latest] arch=x86_64
compute=libxcb version=[latest] release=[latest] arch=x86_64
compute=libXcomposite version=[latest] release=[latest] arch=x86_64
compute=libXcursor version=[latest] release=[latest] arch=x86_64
compute=libXdamage version=[latest] release=[latest] arch=x86_64
compute=libXext version=[latest] release=[latest] arch=x86_64
compute=libXfixes version=[latest] release=[latest] arch=x86_64
compute=libXfont version=[latest] release=[latest] arch=x86_64
compute=libXft version=[latest] release=[latest] arch=x86_64
compute=libXi version=[latest] release=[latest] arch=x86_64
compute=libXinerama version=[latest] release=[latest] arch=x86_64
compute=libXmu version=[latest] release=[latest] arch=x86_64
compute=libXpm version=[latest] release=[latest] arch=x86_64
compute=libXrandr version=[latest] release=[latest] arch=x86_64
compute=libXrender version=[latest] release=[latest] arch=x86_64
compute=libxshmfence version=[latest] release=[latest] arch=x86_64
compute=libXt version=[latest] release=[latest] arch=x86_64
compute=libXxf86vm version=[latest] release=[latest] arch=x86_64
compute=mesa-libEGL version=[latest] release=[latest] arch=x86_64
compute=mesa-libgbm version=[latest] release=[latest] arch=x86_64
compute=mesa-libGL version=[latest] release=[latest] arch=x86_64
compute=mesa-libglapi version=[latest] release=[latest] arch=x86_64
compute=opensm-libs version=[latest] release=[latest] arch=x86_64
compute=pango version=[latest] release=[latest] arch=x86_64
compute=pixman version=[latest] release=[latest] arch=x86_64
compute=poppler-data version=[latest] release=[latest] arch=noarch
compute=rdma version=[latest] release=[latest] arch=noarch
compute=swig version=[latest] release=[latest] arch=x86_64
compute=tcl version=[latest] release=[latest] arch=x86_64
compute=tk version=[latest] release=[latest] arch=x86_64
compute=urw-fonts version=[latest] release=[latest] arch=noarch
compute=xorg-x11-font-utils version=[latest] release=[latest] arch=x86_64
compute=infinipath-psm version=[latest] release=[latest] arch=x86_64
compute=autogen-libopts version=[latest] release=[latest] arch=x86_64
compute=ntp version=[latest] release=[latest] arch=x86_64
compute=ntpdate version=[latest] release=[latest] arch=x86_64
compute=intel-clck-ohpc version=[latest] release=[latest] arch=x86_64
compute=time version=[latest] release=[latest] arch=x86_64
# end of OS Packages