## Add Compute Nodes into xCAT Database

Add compute nodes and define their properties as objects in the xCAT database.
Hosts are grouped into a group named *compute* to allow group-level commands
later in the recipe. Note the use of variable names for hostnames, node IPs, MAC
addresses, and BMC login credentials — adjust to match local hardware.

<!-- ohpc_begin -->
<!-- ohpc_comment Add hosts to cluster -->
```bash
for ((i=0; i<num_computes; i++)) ; do
    mkdef -t node ${c_name[$i]} \
        groups=compute,all \
        ip=${c_ip[$i]} \
        mac=${c_mac[$i]} \
        netboot={{ 'xnba' if arch == 'x86_64' else 'grub2' }} \
        arch={{ arch }} \
        bmc=${c_bmc[$i]} \
        bmcusername=${bmc_username} \
        bmcpassword=${bmc_password} \
        mgt=ipmi \
        cons=ipmi \
        serialport=0 \
        serialspeed=115200
done
```
<!-- ohpc_end -->
