{{ include_with_marker('common/title.md.j2') }}

{{ include_with_marker('common/legal.md.j2') }}

\newpage

# Table of Contents {.unnumbered}

<!-- toc -->
<!-- /toc -->

\newpage

# Introduction

{{ include_with_marker('common/install_header.md.j2') }}
{{ include_with_marker('common/intro.md.j2') }}

{{ include_with_marker('common/base_edition/edition.md.j2') }}
{{ include_with_marker('common/audience.md.j2') }}
{{ include_with_marker('common/requirements.md.j2') }}
{{ include_with_marker('common/inputs.md.j2') }}

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Verify OpenHPC repository has been enabled before proceeding -->
<!-- ohpc_validation_newline -->
<!-- ohpc_command dnf repolist | grep -q OpenHPC -->
<!-- ohpc_command if [ $? -ne 0 ];then -->
<!-- ohpc_command    echo "Error: OpenHPC repository must be enabled locally" -->
<!-- ohpc_command    exit 1 -->
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

# Install Base Operating System (BOS)

<!-- SOURCE_FILE: common/bos.md.j2 -->
{{ include_with_marker('common/bos.md.j2') }}
<!-- END_SOURCE_FILE: common/bos.md.j2 -->

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Disable firewall -->
```bash
[sms]# systemctl disable --now firewalld || true
```
<!-- end_ohpc_run -->

# Install {{ ohpc }} Components

{{ include_with_marker('common/install_ohpc_components_intro.md.j2') }}

## Enable {{ ohpc }} repository for local use

{{ include_with_marker('common/enable_ohpc_repo.md.j2') }}
{{ include_with_marker('common/almalinux_repos.md.j2') }}
{{ include_with_marker('common/automation.md.j2') }}

## Add provisioning services on *master* node

{{ include_with_marker('common/install_provisioning_warewulf4_intro.md.j2') }}
{{ include_with_marker('common/enable_pxe.md.j2') }}
{{ include_with_marker('common/time.md.j2') }}

## Add resource management services on *master* node

{{ include_with_marker('common/install_slurm.md.j2') }}

## Optionally add {{ infiniband }} support services on *master* node

{{ include_with_marker('common/ibsupport_sms_centos.md.j2') }}

## Optionally add {{ OmniPath }} support services on *master* node

{{ include_with_marker('common/opasupport_sms_centos.md.j2') }}

## Complete basic {{ warewulf }} setup for *master* node

{{ include_with_marker('common/warewulf4_setup.md.j2') }}
{{ include_with_marker('common/warewulf4_setup_centos.md.j2') }}

## Define *compute* image for provisioning

{{ include_with_marker('common/warewulf4_mkchroot.md.j2') }}

### Add {{ ohpc }} components

{{ include_with_marker('common/warewulf4_add_to_compute_chroot_intro.md.j2') }}
{{ include_with_marker('common/warewulf4_add_to_compute_chroot_slurm.md.j2') }}

### Customize system configuration

{{ include_with_marker('common/oneapi_mountpoint.md.j2') }}

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Update basic slurm configuration if additional computes defined -->
<!-- ohpc_command if [ ${num_computes} -gt 4 ];then -->
<!-- ohpc_command 	sed -i "s/^\(NodeName=\)\S\+/\1${compute_prefix}[1-${num_computes}]/" \ -->
<!-- ohpc_command 		/etc/slurm/slurm.conf -->
<!-- ohpc_command 	sed -i "s/^\(PartitionName=\)normal \(Nodes=\)\S\+/\ -->
<!-- ohpc_command \1normal \2${compute_prefix}[1-${num_computes}]/" \ -->
<!-- ohpc_command 		/etc/slurm/slurm.conf -->
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

### Additional Customization (*optional*)

{{ include_with_marker('common/compute_customizations_intro.md.j2') }}

#### Enable {{ infiniband }} drivers

{{ include_with_marker('common/ibsupport_compute_centos.md.j2') }}

#### Enable {{ OmniPath }} drivers

{{ include_with_marker('common/opasupport_compute_centos.md.j2') }}

#### Increase locked memory limits

{{ include_with_marker('common/memlimits.md.j2') }}

#### Enable ssh control via resource manager

{{ include_with_marker('common/slurm_pam.md.j2') }}

#### Enable forwarding of system logs

{{ include_with_marker('common/syslog.md.j2') }}

#### Add {{ clustershell }}

{{ include_with_marker('common/clustershell.md.j2') }}

#### Add {{ genders }}

{{ include_with_marker('common/genders.md.j2') }}

#### Add Magpie

{{ include_with_marker('common/magpie.md.j2') }}

#### Add {{ conman }}

{{ include_with_marker('common/conman.md.j2') }}

#### Add {{ nhc }}

{{ include_with_marker('common/nhc.md.j2') }}
{{ include_with_marker('common/nhc_slurm.md.j2') }}

### Import files

{{ include_with_marker('common/import_ww4_files.md.j2') }}
{{ include_with_marker('common/import_ww4_files_slurm.md.j2') }}
{{ include_with_marker('common/import_ww4_files_ib_centos.md.j2') }}
{{ include_with_marker('common/finalize_warewulf4_provisioning.md.j2') }}
{{ include_with_marker('common/add_ww4_hosts_intro.md.j2') }}
{{ include_with_marker('common/add_ww4_hosts_finalize.md.j2') }}
{{ include_with_marker('common/add_ww4_hosts_slurm.md.j2') }}

### Optional kernel arguments

{{ include_with_marker('common/charliecloud_centos_warewulf_post.md.j2') }}
{{ include_with_marker('common/warewulf4_kargs_post.md.j2') }}

## Boot compute nodes

{{ include_with_marker('common/reset_computes.md.j2') }}

# Install {{ ohpc }} Development Components

{{ include_with_marker('common/dev_intro.md.j2') }}

## Development Tools

{{ include_with_marker('common/dev_tools.md.j2') }}

## Compilers

{{ include_with_marker('common/compilers.md.j2') }}

## MPI Stacks

{{ include_with_marker('common/mpi_slurm.md.j2') }}

## Performance Tools

{{ include_with_marker('common/perf_tools.md.j2') }}

## Setup default development environment

{{ include_with_marker('common/default_dev.md.j2') }}

## 3rd Party Libraries and Tools {% raw %}{#3rd-party-libraries-and-tools}{% endraw %}

{{ include_with_marker('common/third_party_libs_intro.md.j2') }}
{{ include_with_marker('common/third_party_libs_petsc_centos.md.j2') }}
{{ include_with_marker('common/third_party_libs.md.j2') }}
{{ include_with_marker('common/third_party_mpi_libs_x86.md.j2') }}

## Optional Development Tool Builds

{{ include_with_marker('common/oneapi_enabled_builds_slurm.md.j2') }}

\newpage

# Resource Manager Startup

{{ include_with_marker('common/slurm_startup.md.j2') }}

# Post-boot compute node configuration

{{ include_with_marker('common/post_boot.md.j2') }}

# Run a Test Job

{{ include_with_marker('common/warewulf4_slurm_test_job.md.j2') }}

\newpage

# Appendices

{{ include_with_marker('common/automation_appendix.md.j2') }}
{{ include_with_marker('common/upgrade.md.j2') }}
{{ include_with_marker('common/test_suite.md.j2') }}
{{ include_with_marker('common/customization_appendix_centos.md.j2') }}
{{ include_with_marker('manifest.md.j2') }}
{{ include_with_marker('common/signature.md.j2') }}
