The next step is adding {{ ohpc }} components to the *compute* nodes that at this
point are running basic OSes. This process will leverage two {{ confluent }}-provided
commands: `nodeshell` to run `{{ pkgmgr }}` installer on all the
nodes in parallel and `nodersync` to distribute configuration files from the
SMS to the *compute* nodes.

To do this, repositories on the *compute* nodes need to be configured
properly.

{{ confluent }} has automatically setup an OS repository on the SMS and configured the
nodes to use it, but it has also enabled online OS repositories.


Next, we also add the OHPC repository to the compute nodes

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Setup nodes repositories and Install OHPC components \ref{sec:add_components} -->
```bash
# Add OpenHPC repo
[sms]# {{ chrootinstall }} \
	http://repos.openhpc.community/OpenHPC/4/{{ ostree }}/x86_64/\
ohpc-release-4-1.{{ ostag }}.x86_64.rpm
```
<!-- end_ohpc_run -->

The *compute* nodes also need access to the EPEL repository, a required
dependency for {{ ohpc }} packages.

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Configure access to EPEL repo -->
```bash
# Add epel repo
[sms]# {{ chrootinstall }} epel-release

```
<!-- end_ohpc_run -->


Additionally, a workaround is needed for {{ ohpc }} documentation files,
which are installed into a read-only NFS share /opt/ohpc/pub. Any package
attempting to write to that directory will fail to install. The following
prevents that by directing `rpm` not to install documentation files on
the *compute* nodes:

<!-- begin_ohpc_run -->
```bash
[sms]# nodeshell compute echo -e %_excludedocs 1 \>\> ~/.rpmmacros
```
<!-- end_ohpc_run -->

Now {{ ohpc }} and other cluster-related software components can be
installed on the nodes. The first step is to install a base compute package
and disable the firewall on the compute nodes:
<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Add OpenHPC base components to compute image -->
```bash
# Install compute node base meta-package
[sms]# {{ chrootinstall }} ohpc-base-compute git
# Disable firewall for computes
[sms]# nodeshell compute systemctl disable --now firewalld
```
<!-- end_ohpc_run -->

Next, we can include additional components:
