<!-- begin_ohpc_run -->
<!-- ohpc_command if [[ ${enable_ipoib} -eq 1 ]];then -->
```bash
# Optionally define IPoIB network settings
# (required if planning to mount Lustre/BeeGFS over IB)
[sms]# for ((i=0; i<$num_computes; i++)) ; do
	wwctl node set --yes ${c_name[$i]} --netname=ib --netdev=ib0 \
		--ipaddr=${c_ipoib[$i]} --netmask=${ipoib_netmask}
done
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

Finally, we reconfigure build the overlays and update the Warewulf configuration.
It is necessary to rebuild the overlays whenever a overlay is modified.

<!-- begin_ohpc_run -->
```bash
# build the overlays for all the nodes
[sms]# wwctl overlay build

# Update Warewulf configure
[sms]# wwctl configure --all
```
<!-- end_ohpc_run -->
