Next, we add *compute* nodes and define their properties as
attributes in {{ confluent }} database.
These hosts are grouped logically into a group named *compute* to facilitate group-level commands used later in the recipe. The compute
group has to be defined first before we can add any nodes to the group using the
`nodegroup define` command. Note the
use of variable names for the desired compute hostnames, node IPs, MAC
addresses, and BMC login credentials, which should be modified to accommodate
local settings and hardware. To enable serial console access via {{ confluent }},
`console.method`
property is also defined.

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Add hosts to cluster \ref{sec:confluent_add_nodes} -->
```bash
#define the compute group
[sms]# nodegroupdefine compute

# Define nodes as objects in confluent database
[sms]# for ((i=0; i<$num_computes; i++)) ; do
	nodedefine ${c_name[$i]} groups=everything,compute \
	hardwaremanagement.manager=${c_bmc[$i]} \
	secret.hardwaremanagementuser=${bmc_username} \
	secret.hardwaremanagementpassword=${bmc_password} \
	net.hwaddr=${c_mac[$i]} net.ipv4_address=${c_ip[$i]}
done
```
<!-- end_ohpc_run -->

::: {.tip}
Defining nodes one-by-one, as done above, is only efficient
for a small number of nodes. For larger node counts,
{{ confluent }} provides capabilities for automated detection and
configuration.
Consult the
[{{ confluent }} Hardware Discovery & Define Node Guide](https://hpc.lenovo.com/users/documentation/confluentdisco.html).
:::


If enabling *optional* IPoIB functionality (e.g. to support Lustre over {{ infiniband }}), additional
settings are required to define the IPoIB network with {{ confluent }} and specify
desired IP settings for each compute. This can be accomplished as follows for
the *ib0* interface:

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Setup IPoIB networking -->
<!-- ohpc_command if [[ ${enable_ipoib} -eq 1 ]];then -->
<!-- ohpc_indent 5 -->
```bash
# Register desired IPoIB IPs per compute
[sms]# for ((i=0; i<$num_computes; i++)) ; do
		nodeattrib ${c_name[i]} net.ib0.ipv4_address=${c_ipoib[i]}/${ipoib_netmask}
        done
```
<!-- ohpc_indent 0 -->
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

confluent2hosts can be used to help generate /etc/hosts entries for a noderange.
It can read from the confluent db, using -a. In this mode, each net.value.attribute
group is pulled together into hosts lines. ipv4 and ipv6 address
fields are associated with the corresponding hostname attributes.

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Generating lines to append to local /etc/hosts -->
```bash
# Add nodes to /etc/hosts
[sms]# confluent2hosts -a compute
```
<!-- end_ohpc_run -->

With the desired compute nodes and domain identified, the remaining steps in the
provisioning configuration process are to define the provisioning mode and
image for the *compute* group and use {{ confluent }} commands to complete
configuration for network services like DNS and DHCP. These tasks are
accomplished as follows:

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Complete networking setup, associate provisioning image -->
```bash
# Associate desired provisioning image for computes
[sms]# nodedeploy -n compute -p {{ confluentprofile }}
```
