With the provisioning services enabled, the next step is to define
a system image that can subsequently be
used to provision one or more *compute* nodes. The following subsections highlight this process.

### Build initial BOS image

The following steps illustrate the process to build a minimal, default image for use with {{ confluent }}. To begin, you will
first need to have a local copy of the ISO image available for the underlying OS. In this recipe, the relevant ISO image
is `{{ isoimage }}` (available from the {{ baseOS }}
[download]({{ downloadpage }}) page).
We initialize the image
creation process using the `osdeploy` command assuming that the necessary ISO image is available locally in
`${iso_path}` as follows:

The `osdeploy initialize` command is used to prepare a confluent server to deploy deploy operating systems.
For first time setup, run osdeploy initialize interactively to be walked through the various options using:
`osdeploy initialize -i`

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Initialize OS images for use with Confluent \ref{sec:assemble_bos} -->
```bash
[sms]# osdeploy initialize -${initialize_options}
[sms]# osdeploy import ${iso_path}

```
<!-- end_ohpc_run -->

Once completed, OS image should be available for use within {{ confluent }}. These can be queried via:

```bash
# Query available images
[sms]# osdeploy list
Distributions:
  alma-9.5-x86_64
  rhel-9.5-x86_64
  rocky-9.5-x86_64
Profiles:
  alma-9.5-x86_64-default
  rhel-9.5-x86_64-default
  rocky-9.5-x86_64-default
```

If needing to copy files from the sms node to the compute nodes during deployment, this can be done by
modifying the syncfiles file that is created when `osdeploy import` command is run. For an environment
that has no DNS server and needs to have /etc/hosts file synced amongst all the nodes, the following command
should be run.

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Sync the hosts file in cluster -->
```bash
[sms]# echo "/etc/hosts -> /etc/hosts" >> \
	/var/lib/confluent/public/os/{{ confluentprofile }}/syncfiles

```
<!-- end_ohpc_run -->
