To aid in general development efforts, OpenHPC provides recent versions of the
GNU autotools collection, the Valgrind memory debugger, EasyBuild, and Spack.
These can be installed as follows:

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Install Development Tools -->
```bash
# Install autotools meta-package
[sms]# {{ install_cmd }} ohpc-autotools
[sms]# {{ install_cmd }} EasyBuild-ohpc
[sms]# {{ install_cmd }} hwloc-ohpc
[sms]# {{ install_cmd }} spack-ohpc
[sms]# {{ install_cmd }} valgrind-ohpc
```
<!-- end_ohpc_run -->
