To begin, enable use of the {{ ohpc }} repository by adding it to the local list
of available package repositories. Note that this requires network access from
your *master* server to the {{ ohpc }} repository, or alternatively, that
the {{ ohpc }} repository be mirrored locally. In cases where network external
connectivity is available, {{ ohpc }} provides an `ohpc-release` package
that includes GPG keys for package signing and enabling the repository. The
example which follows illustrates installation of the `ohpc-release`
package directly from the {{ ohpc }} build server.

<!-- begin_ohpc_run -->
<!-- ohpc_validation_comment Add OpenHPC components to compute instance -->
```bash
# Add OpenHPC repo
[sms]# {{ install }} http://repos.openhpc.community/OpenHPC/4/{{ ostree }}/x86_64/\
ohpc-release-4-1.{{ ostag }}.x86_64.rpm
```
<!-- end_ohpc_run -->

::: {.tip}
Many sites may find it useful or necessary to maintain a local copy of the
{{ ohpc }} repositories. To facilitate this need, standalone tar
archives are provided -- one containing a repository of binary packages as well as any
available updates, and one containing a repository of source RPMS. The tar files
also contain a simple bash script to configure the package manager to use the
local repository after download. To use, simply unpack the tarball where you
would like to host the local repository and execute the `make_repo.sh` script.
Tar files for this release can be found at [http://repos.openhpc.community/dist/{{ OHPCVersion }}](http://repos.openhpc.community/dist/{{ OHPCVersion }})
:::
