To begin, enable use of the public {{ confluent }} repository by adding it to the local list
of available package repositories. This also requires network access from
your *master* server to the internet, or alternatively, that
the repository be mirrored locally. In this case, we use the network.

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_comment_header Enable Confluent repositories \ref{sec:enable_confluent} -->
```bash
[sms]# {{ install }} \
https://hpc.lenovo.com/yum/latest/{{ ostag }}/x86_64/lenovo-hpc-yum-1-1.x86_64.rpm
```
<!-- end_ohpc_run -->
