Finally, to add *optional* support for controlling IPoIB
interfaces (see Section {{ add_ofed }}), OpenHPC includes a
template file for Warewulf that can optionally be imported and used later to provision
`ib0` network settings.

<!-- begin_ohpc_run -->
<!-- ohpc_command if [[ ${enable_ipoib} -eq 1 ]];then -->
```bash
# Import the template file for the ib interface
[sms]# wwctl overlay import --parents nodeconfig \
	/opt/ohpc/pub/examples/network/centos/ifcfg-ib0.ww \
	/etc/sysconfig/network-scripts/ifcfg-ib0.ww
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->
