{% if isxCATstateful %}
With the BOS installed and booted on both the *master* server and the *compute* nodes, the next step is to add desired {{ ohpc }} packages into the
cluster. The following subsections highlight this process.
{% else %}
With the BOS installed and booted, the next step is to add desired {{ ohpc }} packages
onto the *master* server in order to provide provisioning and resource
management services for the rest of the cluster. The following subsections
highlight this process.
{% endif %}
