To add the optional NVIDIA GPU driver to the compute nodes, an
additional external {{ pkgmgr }} repository provided by NVIDIA
must be configured. Once the repository is configured the
GPU driver and the corresponding toolkit needs to be installed:

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_command if [[ ${enable_nvidia_gpu_driver} -eq 1 ]];then -->
<!-- ohpc_indent 5 -->
```bash
# Add NVIDIA GPU driver repository to the SMS
[sms]# {{ install }} cuda-repo-ohpc
# Add NVIDIA GPU driver repository to the compute nodes
[sms]# {{ chrootinstall }} cuda-repo-ohpc
# Install the GPU driver on the compute nodes
[sms]# nodeshell compute dnf -y module install nvidia-driver:latest-dkms
# Enable DKMS service to automatically rebuild driver
[sms]# nodeshell compute systemctl enable dkms
# Install the toolkit on the SMS
[sms]# {{ install }} cuda-devel-ohpc nvidia-driver-cuda
```
<!-- ohpc_indent 0 -->
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->
