With {{ confluent }} repository enabled, issue the following to install the provisioning
service on *master* node

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Add baseline OpenHPC and provisioning services \ref{sec:add_provisioning} -->
```bash
[sms]# {{ install }} lenovo-confluent
[sms]# {{ install }} tftp-server
[sms]# {{ install }} nfs-utils

# enable Confluent and its tools for use in current shell
[sms]# systemctl enable confluent --now
[sms]# systemctl enable httpd --now
[sms]# systemctl enable tftp.socket --now
[sms]# source /etc/profile.d/confluent_env.sh
```
<!-- ohpc_validation_newline -->
<!-- end_ohpc_run -->
