---

\vspace{0.25\textheight}

# Legal Notice {.unnumbered}

Copyright &copy; 2016-2023, OpenHPC, a Linux Foundation
Collaborative Project. All rights reserved.

::: {.legal-table}
| | |
|:---|:---|
| ![](figures/cc_by.pdf){width=2cm} | This documentation is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit [http://creativecommons.org/licenses/by/4.0](http://creativecommons.org/licenses/by/4.0). |
:::

---

Intel, the Intel logo, and other Intel marks are trademarks of Intel
Corporation in the U.S. and/or other countries.

{% if ispbs %}
Altair, the Altair logo, OpenPBS, and other Altair marks are
trademarks of Altair Engineering, Inc. in the U.S. and/or other countries.
{% endif %}

\*Other names and brands may be claimed as the property of others.
