#### Adding local Lmod modules to OpenHPC hierarchy

<!-- TODO: This section needs to be converted from lmod_customization.tex -->

Administrators may wish to add locally built software packages to the OpenHPC module hierarchy. This can be accomplished by creating module files in the appropriate locations under `/opt/ohpc/pub/moduledeps` or `/opt/ohpc/pub/modulefiles`.
