---

## Package Manifest

This appendix provides a summary of available meta-package groupings and all of
the individual RPM packages that are available as part of this OpenHPC
release. The meta-packages provide a mechanism to group related collections of
RPMs by functionality and provide a convenience mechanism for installation. A
list of the available meta-packages and a brief description is presented in
the table below.

### Available OpenHPC Meta-packages

{{ include_with_marker('manifest/patterns.md.j2') }}

{% if arch == "x86_64" %}
{{ include_with_marker('manifest/patterns3.md.j2') }}
{% endif %}

---

What follows next in this Appendix is a series of tables that summarize the
underlying RPM packages available in this OpenHPC release. These packages are
organized by groupings based on their general functionality and each table
provides information for the specific RPM name, version, brief summary, and the
web URL where additional information can be obtained for the component. Note
that many of the 3rd party community libraries that are pre-packaged
with OpenHPC are built using multiple compiler and MPI families. In these cases,
the RPM package name includes delimiters identifying the development
environment for which each package build is targeted. Additional information
on the OpenHPC package naming scheme is presented in Section 3rd Party Packages.
The relevant package groupings and associated references are as follows:

* Administrative tools
{% if provisioner == "warewulf4" %}
* Provisioning
{% endif %}
* Resource management
* Compiler families
* MPI families
* Development tools
* Performance analysis tools
{% if os_name == "CentOS" and arch == "x86_64" %}
* Lustre
{% endif %}
* IO Libraries
* Runtimes
* Serial/Threaded Libraries
* Parallel Libraries
