In order to utilize {{ infiniband }} or Omni-Path as the underlying high speed interconnect, it is
generally necessary to increase the locked memory settings for system
users. This can be accomplished by updating
the `/etc/security/limits.conf` file and this should be performed
on all job submission hosts. In this recipe, jobs
are submitted from the *master* host, and the following commands can be
used to update the maximum locked memory settings on both the master host and
compute nodes:

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_validation_comment Update memlock settings -->
```bash
# Update memlock settings on master
[sms]# sed -i 's/\(# End of file\)/\* soft memlock unlimited\n\1/g' \
	/etc/security/limits.conf
[sms]# sed -i 's/\(# End of file\)/\* hard memlock unlimited\n\1/g' \
	/etc/security/limits.conf

# Update memlock settings on compute
[sms]# nodeshell compute sed -i \
	"'s/\(# End of file\)/\* soft memlock unlimited\n\1/g'" \
	/etc/security/limits.conf
[sms]# nodeshell compute sed -i \
	"'s/\(# End of file\)/\* hard memlock unlimited\n\1/g'" \
	/etc/security/limits.conf
```
<!-- end_ohpc_run -->
