For MPI development and runtime support, OpenHPC provides pre-packaged builds
for a variety of MPI families and transport layers. Currently available options
and their applicability to various network transports are summarized in
the Available MPI variants table below.  The command that follows installs a starting set of MPI
families that are compatible with both ethernet and high-speed fabrics.

{% if isx86 %}
**Table: Available MPI variants** {% raw %}{#table:mpi}{% endraw %}

|                       | Ethernet (TCP) | InfiniBand | Intel Omni-Path |
|-----------------------|:--------------:|:----------:|:---------------:|
| MPICH (ofi)           | ✓              | ✓          | ✓               |
| MPICH (ucx)           | ✓              | ✓          | ✓               |
| MVAPICH2              |                | ✓          |                 |
| MVAPICH2 (psm2)       |                |            | ✓               |
| OpenMPI (ofi/ucx)     | ✓              | ✓          | ✓               |

{% else %}
**Table: Available MPI builds** {% raw %}{#table:mpi}{% endraw %}

|                       | Ethernet (TCP) | InfiniBand |
|-----------------------|:--------------:|:----------:|
| MPICH                 | ✓              |            |
| OpenMPI               | ✓              | ✓          |

{% endif %}

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Install MPI Stacks -->
<!-- ohpc_command if [[ ${enable_mpi_defaults} -eq 1 ]];then -->
```bash
[sms]# {{ install_cmd }} {{ openmpi_version }}-pmix-{{ gnu_version }}-ohpc mpich-ofi-{{ gnu_version }}-ohpc
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

Note that OpenHPC 2.x introduces the use of two related transport layers for
the MPICH and OpenMPI builds that support a variety of underlying
fabrics: [UCX](https://www.openucx.org) (Unified Communication X)
and [OFI](https://ofiwg.github.io/libfabric/) (OpenFabrics interfaces).
In the case of OpenMPI, a monolithic build is provided which supports both
transports and end-users can customize their runtime preferences with
environment variables. For MPICH, two separate builds are provided and the
example above highlighted installing the `ofi` variant.  However, the
packaging is designed such that both versions can be installed simultaneously
and users can switch between the two via normal module command
semantics. Alternatively, a site can choose to install the `ucx` variant
instead as a drop-in MPICH replacement:

```bash
[sms]# {{ install_cmd }} mpich-ucx-{{ gnu_version }}-ohpc
```

In the case where both MPICH variants are installed, two modules will be
visible in the end-user environment and an example of this configuration is
highlighted is below.

```bash
[sms]# module avail mpich

-------------------- /opt/ohpc/pub/moduledeps/{{ gnu_version }}---------------------
   mpich/3.4.3-ofi    mpich/3.4.3-ucx (D)
```

If your system includes InfiniBand and you enabled underlying support in
[InfiniBand support](#optionally-add-infiniband-support-services-on-master-node) and [Additional Customization](#additional-customization-optional), an additional
MVAPICH2 family is available for use:

<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
<!-- ohpc_command if [[ ${enable_ib} -eq 1 ]];then -->
```bash
[sms]# {{ install_cmd }} mvapich2-{{ gnu_version }}-ohpc
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

Alternatively, if your system includes Intel Omni-Path, use the (`psm2`)
variant of MVAPICH2 instead:

<!-- begin_ohpc_run -->
<!-- ohpc_command if [[ ${enable_opa} -eq 1 ]];then -->
```bash
[sms]# {{ install_cmd }} mvapich2-psm2-{{ gnu_version }}-ohpc
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

<!--
https://github.com/openhpc/ohpc/issues/1273
disabling until we can get pmix/openmpi/slurm to play nicely

An additional OpenMPI build variant is listed in the Available MPI variants table which
enables [PMIx](https://pmix.github.io/pmix/) job launch
support for use with Slurm. This optional variant is
available as `{{ openmpi_version }}-pmix-slurm-gnu9-ohpc`.
-->
