<!-- begin_ohpc_run -->
<!-- ohpc_validation_newline -->
```bash
# Register as SLURM's health check program
[sms]# echo "HealthCheckProgram=/usr/sbin/nhc" >> /etc/slurm/slurm.conf
# execute every five minutes
[sms]# echo "HealthCheckInterval=300" >> /etc/slurm/slurm.conf
```
<!-- end_ohpc_run -->
