In addition to the 3rd party development libraries built using the open source
toolchains mentioned in an earlier section, OpenHPC also provides **optional** compatible builds for use with the compilers and MPI stack included
in newer versions of the Intel(R) oneAPI HPC Toolkit (using the **classic**
compiler variants). These
packages provide a similar hierarchical user
environment experience as other compiler and MPI families present in OpenHPC.

To take advantage of the available builds, OpenHPC provides a convenience
package to enable the oneAPI repository locally along with compatibility
packages that integrate oneAPI-generated compiler and MPI modulefiles within
the standard OpenHPC user environment. To enable the Intel(R) oneAPI
repository and install minimum compiler and MPI requirements for OpenHPC
packaging, issue the following:

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Install Intel oneAPI tools -->
<!-- ohpc_command if [[ ${enable_intel_packages} -eq 1 ]];then -->
```bash
# Enable Intel oneAPI and install OpenHPC compatibility packages
[sms]# {{ install }} intel-oneapi-toolkit-release-ohpc
[sms]# rpm --import \
	https://yum.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
[sms]# {{ install }} intel-compilers-devel-ohpc
[sms]# {{ install }} intel-mpi-devel-ohpc
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->

::: {.tip}

As noted in an earlier section, the default installation path for
OpenHPC (`/opt/ohpc/pub`) is exported over NFS from the **master** to the
compute nodes, but the Intel(R) oneAPI HPC Toolkit packages install to a top-level path of
`/opt/intel`. To make the Intel(R) compilers available to the compute
nodes one must add an additional NFS export
for `/opt/intel` that is mounted on desired compute nodes.
:::

To enable all 3rd party builds available in OpenHPC that are compatible with
the Intel(R) oneAPI classic compiler suite, issue the following:

<!-- begin_ohpc_run -->
<!-- ohpc_command if [[ ${enable_intel_packages} -eq 1 ]];then -->
<!-- ohpc_command if [[ ${enable_opa} -eq 1 ]];then -->
```bash
# Optionally, choose the Omni-Path enabled build for MVAPICH2.
# Otherwise, skip to retain IB variant
[sms]# {{ install }} mvapich2-psm2-intel-ohpc
```
<!-- ohpc_command fi -->

```bash
# Install 3rd party libraries/tools meta-packages built with Intel toolchain
[sms]# {{ install }} {{ openmpi_version }}-pmix-intel-ohpc
[sms]# {{ install }} ohpc-intel-serial-libs
[sms]# {{ install }} ohpc-intel-geopm
[sms]# {{ install }} ohpc-intel-io-libs
[sms]# {{ install }} ohpc-intel-perf-tools
[sms]# {{ install }} ohpc-intel-python3-libs
[sms]# {{ install }} ohpc-intel-mpich-parallel-libs
[sms]# {{ install }} ohpc-intel-mvapich2-parallel-libs
[sms]# {{ install }} ohpc-intel-{{ openmpi_version }}-parallel-libs
[sms]# {{ install }} ohpc-intel-impi-parallel-libs
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->
