OpenHPC provides a variety of open-source tools to aid in application
performance analysis (refer to [Package Manifest](#package-manifest) for a listing
of available packages). This group of tools can be installed as follows:

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Install Performance Tools -->
```bash
# Install perf-tools meta-package
[sms]# {{ install_cmd }} ohpc-{{ gnu_version }}-perf-tools
```
<!-- end_ohpc_run -->
