## Requirements/Assumptions

This installation recipe assumes the availability of a single head node *master*, and four *compute* nodes. The *master* node serves as the
overall system management server (SMS) and is provisioned with {{ baseOS }} and is
subsequently configured to provision the remaining *compute* nodes with
{{ provisioner }} in a
{% if isxCATstateful %}stateful{% else %}stateless{% endif %}
configuration. The terms *master* and SMS are
used interchangeably in this guide. For power management, we assume that
the compute node baseboard management controllers (BMCs) are available via IPMI
from the chosen master host. For file systems, we assume that the chosen master
server will host an NFS file system that is made available to the compute
nodes.
{% if isx86 %}
Installation information is also discussed to optionally mount a
parallel file system and in this case, the parallel file system is assumed to
exist previously.
{% endif %}

![Overview of physical cluster architecture](figures/{% if isx86 %}ohpc-arch-small3.pdf{% endif %}{% if isaarch %}ohpc-arch-small-eth.pdf{% endif %})

An outline of the physical architecture discussed is shown in the figure above and highlights the high-level networking
configuration. The *master* host requires at least two Ethernet interfaces
with *eth0* connected to the local data center network and *eth1* used
to provision and manage the cluster backend (note that these interface names
are examples and may be different depending on local settings and OS
conventions). Two logical IP interfaces are expected to each compute node: the
first is the standard Ethernet interface that will be used for provisioning and
resource management. The second is used to connect to each host's BMC and is
used for power management and remote console access. Physical connectivity for
these two logical IP networks is often accommodated via separate cabling and
switching infrastructure; however, an alternate configuration can also be
accommodated via the use of a shared NIC, which runs a packet filter to divert
management packets between the host and BMC. Independent of the actual networking
configuration it is recommended to have additional security boundaries like a
firewall to protect the network interfaces from the Internet.

{% if isx86 %}
In addition to the IP networking, there is an optional high-speed network
({{ infiniband }} or {{ OmniPath }} in this recipe) that is also connected to each of the
hosts. This high speed network is used for application message passing and
optionally for parallel file system connectivity as well (e.g. to
existing {{ lustre }} or BeeGFS storage targets).
{% endif %}
