<!-- begin_ohpc_run -->
<!-- ohpc_command if [[ ${enable_mpi_defaults} -eq 1 ]];then -->
```bash
# Install parallel lib meta-packages for all available MPI toolchains
[sms]# {{ install }} ohpc-{{ gnu_version }}-mpich-parallel-libs
[sms]# {{ install }} ohpc-{{ gnu_version }}-{{ openmpi_version }}-parallel-libs
```
<!-- ohpc_command fi -->
<!-- ohpc_command if [[ ${enable_ib} -eq 1 ]];then -->
<!-- ohpc_command {{ install }} ohpc-{{ gnu_version }}-mvapich2-parallel-libs -->
<!-- ohpc_command fi -->
<!-- ohpc_command if [[ ${enable_opa} -eq 1 ]];then -->
<!-- ohpc_command {{ install }} ohpc-{{ gnu_version }}-mvapich2-parallel-libs -->
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->
