![](common/figures/ohpc_logo_blue){.right-align .format-variant width=4cm}

[OpenHPC (v{{ OHPCVersion }})]{.title-main}

[Cluster Building Recipes]{.title-sub}

---

[{{ baseOS }} Base OS]{.title-section}

[{{ provisioner }}/{{ rms }} Edition for Linux* ({{ arch }})]{.title-section}

{% if isxCATstateful %}
**Stateful Provisioning**
{% endif %}

---

[**Install Guide (v{{ OHPCVersion }})**]{.title-normal}

[{{ baseOS }}/{{ arch }} + {{ provheader }} + {{ rms }}]{.title-normal}

---

::: {.vfill}
:::

![](common/figures/4x_icon){.format-variant width=25%}

[Document Last Update: {{ VCDateISO }}]{.title-meta}

[Document Revision: {{ VCRevision }}]{.title-meta}



\newpage
