## Upgrading OpenHPC Packages


As newer {{ ohpc }} releases are made available, users are encouraged to upgrade
their locally installed packages against the latest repository versions to
obtain access to bug fixes and newer component versions. This can be
accomplished with the underlying package manager as {{ ohpc }} packaging maintains
versioning state across releases. Also, package builds available from the
{{ ohpc }} repositories have "`-ohpc`" appended to their names so that
wild cards can be used as a simple way to obtain updates. The following general
procedure highlights a method for upgrading existing installations.
When upgrading from a minor release older than v{{ OHPCVerTree }}, you will first
need to update your local {{ ohpc }} repository configuration to point against the
v{{ OHPCVerTree }} release (or update your locally hosted mirror). Refer to
the Enable {{ ohpc }} repository section for more details on enabling the latest
repository. In contrast, when upgrading between micro releases on the same
branch (e.g. from v{{ OHPCVerTree }} to {{ OHPCVerTree }}.2), there is no need to
adjust local package manager configurations when using the public repository as
rolling updates are pre-configured.

The initial step, when using a local mirror as described in the Enable {{ ohpc }}
repository section, is downloading a new tarball from `http://build.openhpc.community/dist`.
After this, move (or remove) the old repository directory, unpack
the new tarball and run the `make_repo.sh` script. In the following,
substitute `x.x.x` with the desired version number.

```bash
[sms]# wget http://repos.openhpc.community/dist/x.x.x/OpenHPC-x.x.x.{{ ostree }}.{{ arch }}.tar
[sms]# mv $ohpc_repo_dir "$ohpc_repo_dir"_old
[sms]# mkdir -p $ohpc_repo_dir
[sms]# tar xvf OpenHPC-x.x.x.{{ ostree }}.{{ arch }}.tar -C $ohpc_repo_dir
[sms]# $ohpc_repo_dir/make_repo.sh
```

The *compute* hosts will pickup new packages automatically as long as the
repository location on the SMS stays the same. If you prefer to use a different
location, setup repositories on the nodes as described in
the Enable {{ ohpc }} repository section.

The actual update is performed as follows:

1. (Optional) Ensure repo metadata is current (on head and compute nodes.)
  Package managers will naturally do this on their own over time,
  but if you are wanting to access updates immediately after a new release,
  the following can be used to sync to the latest.

```bash
[sms]#  {{ clean }}
[sms]#  nodeshell compute {{ clean }}
```

2. Upgrade master (SMS) node

```bash
[sms]#  {{ upgrade }} "*-ohpc"
```

3. Upgrade packages on compute nodes

```bash
[sms]# nodeshell compute  {{ upgrade }} "*-ohpc"
```

Note that to update running services such as a resource manager a
service restart (or a full reboot) is required.
