If any components have added to the boot time kernel command line arguments for the compute nodes,
the following command is required to store the configuration in Warewulf:

<!-- begin_ohpc_run -->
<!-- ohpc_command if [[ ${enable_kargs} -eq 1 ]];then -->
```bash
# Set optional compute node kernel command line arguments.
[sms]# wwctl profile set --yes nodes --kernelargs="${kargs}"
```
<!-- ohpc_command fi -->
<!-- end_ohpc_run -->
