The process used in the previous step is designed to
provide a minimal {{ baseos }} configuration. Next, we add additional components
to include resource management client services, NTP support, and
other additional packages to support the default {{ ohpc }} environment. This
process modifies the base provisioning image and will access the BOS and {{ ohpc }}
repositories to resolve package install requests.

The instructions below are designed to be copied and pasted all at once into
a terminal.  Alternatively you can run `wwctl image shell {{ baseos }}`
to "run" the node image interactively and run the commands one at a time, this
method is recommended.

We begin by installing a few
common base packages:

<!-- begin_ohpc_run -->
<!-- ohpc_comment_header Add OpenHPC base components to compute image -->
```bash

# Install compute node base meta-package
[sms]# wwctl image exec --build=false {{ baseos }} -- /bin/bash -ex <<- EOF
  dnf -y install epel-release
  dnf -y install ohpc-base-compute
EOF
```
<!-- end_ohpc_run -->

Now, we can include additional required components to the compute
instance including resource manager client, NTP, and development environment modules support.

Adding packages can be done by entering the image with `wwctl image shell`,
`wwctl image exec`, or using a CHROOT.
