<!-- begin_ohpc_run -->
<!-- ohpc_validation_comment Add SLURM and other components to compute instance -->
```bash
  [sms]# wwctl image exec --build=false {{ baseos }} -- /bin/bash -ex <<- EOF
    # Add Slurm client support meta-package
    dnf -y install ohpc-slurm-client

    # Enable services to start on boot
    systemctl enable munge.service
    systemctl enable slurmd.service

    # Add Network Time Protocol (NTP) support
    dnf -y install chrony

    # Include modules user environment
    dnf -y install lmod-ohpc
  EOF
```
<!-- end_ohpc_run -->
