{% if pkg_admin | default(true) %}
### Administrative Tools

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| conman-ohpc | 0.3.1 | ConMan: The Console Manager. [http://dun.github.io/conman](http://dun.github.io/conman) |
| docs-ohpc | 4.0.0 | OpenHPC documentation. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| examples-ohpc | 2.0 | Example source code and templates for use within OpenHPC environment. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| genders-ohpc | 1.32 | Static cluster configuration database. [https://github.com/chaos/genders](https://github.com/chaos/genders) |
| hpc-workspace-ohpc | 1.5.0 | Temporary workspace management. [https://github.com/holgerBerger/hpc-workspace](https://github.com/holgerBerger/hpc-workspace) |
| lmod-defaults-gnu15-impi-ohpc<br>lmod-defaults-gnu15-mpich-ohpc<br>lmod-defaults-gnu15-mvapich2-ohpc<br>lmod-defaults-gnu15-openmpi5-ohpc<br>lmod-defaults-intel-impi-ohpc<br>lmod-defaults-intel-mpich-ohpc<br>lmod-defaults-intel-mvapich2-ohpc<br>lmod-defaults-intel-openmpi5-ohpc | 2.0 | OpenHPC default login environments. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| lmod-ohpc | 8.7.64 | Lua based Modules (lmod). [https://github.com/TACC/Lmod](https://github.com/TACC/Lmod) |
| losf-ohpc | 0.56.0 | A Linux operating system framework for managing HPC clusters. [https://github.com/hpcsi/losf](https://github.com/hpcsi/losf) |
| nhc-ohpc | 1.4.3 | LBNL Node Health Check. [https://github.com/mej/nhc](https://github.com/mej/nhc) |
| ohpc-release | 4 | OpenHPC release files. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| pdsh-ohpc | 2.35 | Parallel remote shell program. [https://github.com/chaos/pdsh](https://github.com/chaos/pdsh) |
| prun-ohpc | 2.2 | Convenience utility for parallel job launch. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| test-suite-ohpc | 4.0.0 | Integration test suite for OpenHPC. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |

{% endif %}

{% if pkg_provisioning | default(true) %}
### Provisioning

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| warewulf-ohpc | 4.6.4 | A provisioning system for large clusters of bare metal and/or virtual systems. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |
| warewulf-ohpc-dracut | 4.6.4 | dracut module for loading a Warewulf image. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |
| warewulf-ohpc-sos | 4.6.4 | sos plugin for Warewulf. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |

{% endif %}

{% if pkg_rms | default(true) %}
### Resource Management

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| magpie-ohpc | 3.0 | Scripts for running Big Data software in HPC environments. [https://github.com/LLNL/magpie](https://github.com/LLNL/magpie) |
| openpbs-client-ohpc | 23.06.06 | OpenPBS for a client host. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-execution-ohpc | 23.06.06 | OpenPBS for an execution host. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-server-ohpc | 23.06.06 | OpenPBS for a server host. [http://www.openpbs.org](http://www.openpbs.org) |
| pmix-ohpc | 4.2.9 | An extended/exascale implementation of PMI. [https://pmix.github.io/pmix](https://pmix.github.io/pmix) |
| slurm-contribs-ohpc | 25.05.3 | Perl tool to print Slurm job state information. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-devel-ohpc | 25.05.3 | Development package for Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-example-configs-ohpc | 25.05.3 | Example config files for Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-libpmi-ohpc | 25.05.3 | Slurm\'s implementation of the pmi libraries. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-ohpc | 25.05.3 | Slurm Workload Manager. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-openlava-ohpc | 25.05.3 | openlava/LSF wrappers for transition from OpenLava/LSF to Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-pam_slurm-ohpc | 25.05.3 | PAM module for restricting access to compute nodes via Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-perlapi-ohpc | 25.05.3 | Perl API to Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sackd-ohpc | 25.05.3 | Slurm authentication daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmctld-ohpc | 25.05.3 | Slurm controller daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmd-ohpc | 25.05.3 | Slurm compute node daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmdbd-ohpc | 25.05.3 | Slurm database daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sview-ohpc | 25.05.3 | Graphical user interface to view and modify Slurm state. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-torque-ohpc | 25.05.3 | Torque/PBS wrappers for transition from Torque/PBS to Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |

{% endif %}

{% if pkg_compiler_families | default(true) %}
### Compiler Families

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| gnu15-compilers-ohpc | 15.1.0 | The GNU C Compiler and Support Files. [http://gcc.gnu.org](http://gcc.gnu.org) |
| intel-compilers-devel-ohpc | 2025.0 | OpenHPC compatibility package for Intel(R) oneAPI HPC Toolkit. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| intel-oneapi-toolkit-release-ohpc | 2025.0 | Intel(R) oneAPI HPC Toolkit Repository Setup. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |

{% endif %}

{% if pkg_mpi_families | default(true) %}
### MPI Families / Communication Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| intel-mpi-devel-ohpc | 2025.0 | OpenHPC compatibility package for Intel(R) oneAPI MPI Library. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| mpich-ofi-gnu15-ohpc<br>mpich-ofi-intel-ohpc | 3.4.3 | MPICH MPI implementation. [http://www.mpich.org](http://www.mpich.org) |
| mpich-ucx-gnu15-ohpc<br>mpich-ucx-intel-ohpc | 3.4.3 | MPICH MPI implementation. [http://www.mpich.org](http://www.mpich.org) |
| mvapich2-gnu15-ohpc<br>mvapich2-intel-ohpc | 2.3.7 | OSU MVAPICH2 MPI implementation. [http://mvapich.cse.ohio-state.edu](http://mvapich.cse.ohio-state.edu) |
| openmpi5-gnu15-ohpc<br>openmpi5-intel-ohpc<br>openmpi5-pmix-gnu15-ohpc<br>openmpi5-pmix-intel-ohpc | 5.0.8 | A powerful implementation of MPI/SHMEM. [http://www.open-mpi.org](http://www.open-mpi.org) |
| ucx-ohpc | 1.18.0 | UCX is a communication library implementing high-performance messaging. [http://www.openucx.org](http://www.openucx.org) |

{% endif %}

{% if pkg_dev_tools | default(true) %}
### Development Tools

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| EasyBuild-ohpc | 5.1.2 | Software build and installation framework. [https://easybuilders.github.io/easybuild](https://easybuilders.github.io/easybuild) |
| autoconf-ohpc | 2.71 | A GNU tool for automatically configuring source code. [http://www.gnu.org/software/autoconf](http://www.gnu.org/software/autoconf) |
| automake-ohpc | 1.16.5 | A GNU tool for automatically creating Makefiles. [http://www.gnu.org/software/automake](http://www.gnu.org/software/automake) |
| cmake-ohpc | 4.1.2 | CMake is an open-source, cross-platform family of tools designed to build, test and package software. [https://cmake.org](https://cmake.org) |
| cuda-devel-ohpc | 25.9 | OpenHPC compatibility package for cuda. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| cuda-repo-ohpc | 25.9 | Cuda toolkit online repository. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| hwloc-ohpc | 2.12.1 | Portable Hardware Locality. [http://www.open-mpi.org/projects/hwloc](http://www.open-mpi.org/projects/hwloc) |
| libtool-ohpc | 2.4.6 | The GNU Portable Library Tool. [http://www.gnu.org/software/libtool](http://www.gnu.org/software/libtool) |
| python3-mpi4py-gnu15-impi-ohpc<br>python3-mpi4py-gnu15-mpich-ohpc<br>python3-mpi4py-gnu15-mvapich2-ohpc<br>python3-mpi4py-gnu15-openmpi5-ohpc<br>python3-mpi4py-intel-impi-ohpc<br>python3-mpi4py-intel-mpich-ohpc<br>python3-mpi4py-intel-mvapich2-ohpc<br>python3-mpi4py-intel-openmpi5-ohpc | 3.1.5 | Python bindings for the Message Passing Interface (MPI) standard. [https://github.com/mpi4py/mpi4py](https://github.com/mpi4py/mpi4py) |
| python3-numpy-gnu15-ohpc<br>python3-numpy-intel-ohpc | 1.26.4 | NumPy array processing for numbers, strings, records and objects. [https://github.com/numpy/numpy](https://github.com/numpy/numpy) |
| spack-ohpc | 1.0.1 | HPC software package management. [https://github.com/spack/spack](https://github.com/spack/spack) |
| valgrind-ohpc | 3.25.1 | Valgrind Memory Debugger. [http://www.valgrind.org](http://www.valgrind.org) |

{% endif %}

{% if pkg_perf_tools | default(true) %}
### Performance Analysis Tools

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| dimemas-gnu15-impi-ohpc<br>dimemas-gnu15-mpich-ohpc<br>dimemas-gnu15-mvapich2-ohpc<br>dimemas-gnu15-openmpi5-ohpc<br>dimemas-intel-impi-ohpc<br>dimemas-intel-mpich-ohpc<br>dimemas-intel-mvapich2-ohpc<br>dimemas-intel-openmpi5-ohpc | 5.4.2 | Dimemas tool. [https://tools.bsc.es](https://tools.bsc.es) |
| extrae-gnu15-impi-ohpc<br>extrae-gnu15-mpich-ohpc<br>extrae-gnu15-mvapich2-ohpc<br>extrae-gnu15-openmpi5-ohpc<br>extrae-intel-impi-ohpc<br>extrae-intel-mpich-ohpc<br>extrae-intel-mvapich2-ohpc<br>extrae-intel-openmpi5-ohpc | 3.8.3 | Extrae tool. [https://tools.bsc.es](https://tools.bsc.es) |
| imb-gnu15-impi-ohpc<br>imb-gnu15-mpich-ohpc<br>imb-gnu15-mvapich2-ohpc<br>imb-gnu15-openmpi5-ohpc<br>imb-intel-impi-ohpc<br>imb-intel-mpich-ohpc<br>imb-intel-mvapich2-ohpc<br>imb-intel-openmpi5-ohpc | 2021.3 | Intel MPI Benchmarks (IMB). [https://software.intel.com/en-us/articles/intel-mpi-benchmarks](https://software.intel.com/en-us/articles/intel-mpi-benchmarks) |
| likwid-gnu15-ohpc<br>likwid-intel-ohpc | 5.4.1 | Performance tools for the Linux console. [https://github.com/RRZE-HPC/likwid](https://github.com/RRZE-HPC/likwid) |
| omb-gnu15-impi-ohpc<br>omb-gnu15-mpich-ohpc<br>omb-gnu15-mvapich2-ohpc<br>omb-gnu15-openmpi5-ohpc<br>omb-intel-impi-ohpc<br>omb-intel-mpich-ohpc<br>omb-intel-mvapich2-ohpc<br>omb-intel-openmpi5-ohpc | 7.5 | OSU Micro-benchmarks. [https://mvapich.cse.ohio-state.edu/benchmarks](https://mvapich.cse.ohio-state.edu/benchmarks) |
| papi-ohpc | 7.2.0 | Performance Application Programming Interface. [http://icl.cs.utk.edu/papi](http://icl.cs.utk.edu/papi) |
| pdtoolkit-gnu15-ohpc<br>pdtoolkit-intel-ohpc | 3.25.1 | PDT is a framework for analyzing source code. [http://www.cs.uoregon.edu/Research/pdt](http://www.cs.uoregon.edu/Research/pdt) |
| scalasca-gnu15-impi-ohpc<br>scalasca-gnu15-mpich-ohpc<br>scalasca-gnu15-mvapich2-ohpc<br>scalasca-gnu15-openmpi5-ohpc<br>scalasca-intel-impi-ohpc<br>scalasca-intel-mpich-ohpc<br>scalasca-intel-mvapich2-ohpc<br>scalasca-intel-openmpi5-ohpc | 2.6.2 | Toolset for performance analysis of large-scale parallel applications. [http://www.scalasca.org](http://www.scalasca.org) |
| scorep-gnu15-impi-ohpc<br>scorep-gnu15-mpich-ohpc<br>scorep-gnu15-mvapich2-ohpc<br>scorep-gnu15-openmpi5-ohpc<br>scorep-intel-impi-ohpc<br>scorep-intel-mpich-ohpc<br>scorep-intel-mvapich2-ohpc<br>scorep-intel-openmpi5-ohpc | 9.3 | Scalable Performance Measurement Infrastructure for Parallel Codes. [http://www.vi-hps.org/projects/score-p](http://www.vi-hps.org/projects/score-p) |
| tau-gnu15-impi-ohpc<br>tau-gnu15-mpich-ohpc<br>tau-gnu15-mvapich2-ohpc<br>tau-gnu15-openmpi5-ohpc<br>tau-intel-impi-ohpc<br>tau-intel-mpich-ohpc<br>tau-intel-mvapich2-ohpc<br>tau-intel-openmpi5-ohpc | 2.34.1 | Tuning and Analysis Utilities Profiling Package. [http://www.cs.uoregon.edu/research/tau/home.php](http://www.cs.uoregon.edu/research/tau/home.php) |

{% endif %}

{% if pkg_io_libs | default(true) %}
### IO Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| adios2-gnu15-impi-ohpc<br>adios2-gnu15-mpich-ohpc<br>adios2-gnu15-mvapich2-ohpc<br>adios2-gnu15-openmpi5-ohpc<br>adios2-intel-impi-ohpc<br>adios2-intel-mpich-ohpc<br>adios2-intel-mvapich2-ohpc<br>adios2-intel-openmpi5-ohpc | 2.10.2 | The Adaptable IO System v2 (ADIOS2). [https://adios2.readthedocs.io/en/latest/index.html](https://adios2.readthedocs.io/en/latest/index.html) |
| cubew-gnu15-ohpc<br>cubew-intel-ohpc | 4.9 | CUBE Uniform Behavioral Encoding generic presentation writer component. [http://www.scalasca.org/software/cube-4.x/download.html](http://www.scalasca.org/software/cube-4.x/download.html) |
| hdf5-gnu15-ohpc<br>hdf5-intel-ohpc | 1.14.6 | A general purpose library and file format for storing scientific data. [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| netcdf-cxx-gnu15-impi-ohpc<br>netcdf-cxx-gnu15-mpich-ohpc<br>netcdf-cxx-gnu15-mvapich2-ohpc<br>netcdf-cxx-gnu15-ohpc<br>netcdf-cxx-gnu15-openmpi5-ohpc<br>netcdf-cxx-intel-impi-ohpc<br>netcdf-cxx-intel-mpich-ohpc<br>netcdf-cxx-intel-mvapich2-ohpc<br>netcdf-cxx-intel-ohpc<br>netcdf-cxx-intel-openmpi5-ohpc | 4.3.1 | C++ Libraries for the Unidata network Common Data Form. [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-fortran-gnu15-impi-ohpc<br>netcdf-fortran-gnu15-mpich-ohpc<br>netcdf-fortran-gnu15-mvapich2-ohpc<br>netcdf-fortran-gnu15-ohpc<br>netcdf-fortran-gnu15-openmpi5-ohpc<br>netcdf-fortran-intel-impi-ohpc<br>netcdf-fortran-intel-mpich-ohpc<br>netcdf-fortran-intel-mvapich2-ohpc<br>netcdf-fortran-intel-ohpc<br>netcdf-fortran-intel-openmpi5-ohpc | 4.6.2 | Fortran Libraries for the Unidata network Common Data Form. [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-gnu15-impi-ohpc<br>netcdf-gnu15-mpich-ohpc<br>netcdf-gnu15-mvapich2-ohpc<br>netcdf-gnu15-ohpc<br>netcdf-gnu15-openmpi5-ohpc<br>netcdf-intel-impi-ohpc<br>netcdf-intel-mpich-ohpc<br>netcdf-intel-mvapich2-ohpc<br>netcdf-intel-ohpc<br>netcdf-intel-openmpi5-ohpc | 4.9.3 | C Libraries for the Unidata network Common Data Form. [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| otf2-gnu15-impi-ohpc<br>otf2-gnu15-mpich-ohpc<br>otf2-gnu15-mvapich2-ohpc<br>otf2-gnu15-openmpi5-ohpc<br>otf2-intel-impi-ohpc<br>otf2-intel-mpich-ohpc<br>otf2-intel-mvapich2-ohpc<br>otf2-intel-openmpi5-ohpc | 3.1.1 | Open Trace Format 2 library. [http://score-p.org](http://score-p.org) |
| phdf5-gnu15-impi-ohpc<br>phdf5-gnu15-mpich-ohpc<br>phdf5-gnu15-mvapich2-ohpc<br>phdf5-gnu15-openmpi5-ohpc<br>phdf5-intel-impi-ohpc<br>phdf5-intel-mpich-ohpc<br>phdf5-intel-mvapich2-ohpc<br>phdf5-intel-openmpi5-ohpc | 1.14.6 | A general purpose library and file format for storing scientific data. [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| pnetcdf-gnu15-impi-ohpc<br>pnetcdf-gnu15-mpich-ohpc<br>pnetcdf-gnu15-mvapich2-ohpc<br>pnetcdf-gnu15-openmpi5-ohpc<br>pnetcdf-intel-impi-ohpc<br>pnetcdf-intel-mpich-ohpc<br>pnetcdf-intel-mvapich2-ohpc<br>pnetcdf-intel-openmpi5-ohpc | 1.14.0 | A Parallel NetCDF library (PnetCDF). [http://cucis.ece.northwestern.edu/projects/PnetCDF](http://cucis.ece.northwestern.edu/projects/PnetCDF) |
| sionlib-gnu15-impi-ohpc<br>sionlib-gnu15-mpich-ohpc<br>sionlib-gnu15-mvapich2-ohpc<br>sionlib-gnu15-openmpi5-ohpc<br>sionlib-intel-impi-ohpc<br>sionlib-intel-mpich-ohpc<br>sionlib-intel-mvapich2-ohpc<br>sionlib-intel-openmpi5-ohpc | 1.7.7 | Scalable I/O Library for Parallel Access to Task-Local Files. [https://apps.fz-juelich.de/jsc/sionlib/docu/index.html](https://apps.fz-juelich.de/jsc/sionlib/docu/index.html) |

{% endif %}

{% if pkg_distro_packages | default(true) %}
### Distro Packages

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| python3-Cython-ohpc | 0.29.37 | The Cython compiler for writing C extensions for the Python language. [http://www.cython.org](http://www.cython.org) |

{% endif %}

{% if pkg_runtimes | default(true) %}
### Runtimes

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| charliecloud-ohpc | 0.40 | Lightweight user-defined software stacks for high-performance computing. [https://charliecloud.io](https://charliecloud.io) |

{% endif %}

{% if pkg_serial_libs | default(true) %}
### Serial/Threaded Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| R-gnu15-ohpc | 4.5.0 | R is a language and environment for statistical computing and graphics (S-Plus like). [http://www.r-project.org](http://www.r-project.org) |
| cubelib-gnu15-ohpc<br>cubelib-intel-ohpc | 4.9 | CUBE Uniform Behavioral Encoding generic presentation library component. [http://www.scalasca.org/software/cube-4.x/download.html](http://www.scalasca.org/software/cube-4.x/download.html) |
| gotcha-gnu15-ohpc<br>gotcha-intel-ohpc | 1.0.8 | A library for wrapping function calls to shared libraries. [https://github.com/llnl/gotcha](https://github.com/llnl/gotcha) |
| gsl-gnu15-ohpc<br>gsl-intel-ohpc | 2.8 | GNU Scientific Library (GSL). [http://www.gnu.org/software/gsl](http://www.gnu.org/software/gsl) |
| metis-gnu15-ohpc<br>metis-intel-ohpc | 5.1.0 | Serial Graph Partitioning and Fill-reducing Matrix Ordering. [http://glaros.dtc.umn.edu/gkhome/metis/metis/overview](http://glaros.dtc.umn.edu/gkhome/metis/metis/overview) |
| opari2-gnu15-ohpc<br>opari2-intel-ohpc | 2.0.9 | An OpenMP runtime performance measurement instrumenter. [https://www.vi-hps.org/projects/score-p](https://www.vi-hps.org/projects/score-p) |
| openblas-gnu15-ohpc | 0.3.29 | An optimized BLAS library based on GotoBLAS2. [http://www.openblas.net](http://www.openblas.net) |
| plasma-gnu15-ohpc<br>plasma-intel-ohpc | 24.8.7 | Parallel Linear Algebra Software for Multicore Architectures. [https://github.com/icl-utk-edu/plasma](https://github.com/icl-utk-edu/plasma) |
| scotch-gnu15-ohpc<br>scotch-intel-ohpc | 7.0.7 | Graph, mesh and hypergraph partitioning library. [https://gitlab.inria.fr/scotch/scotch](https://gitlab.inria.fr/scotch/scotch) |
| superlu-gnu15-ohpc<br>superlu-intel-ohpc | 7.0.0 | A general purpose library for the direct solution of linear equations. [http://crd.lbl.gov/~xiaoye/SuperLU](http://crd.lbl.gov/~xiaoye/SuperLU) |

{% endif %}

{% if pkg_parallel_libs | default(true) %}
### Parallel Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| boost-gnu15-impi-ohpc<br>boost-gnu15-mpich-ohpc<br>boost-gnu15-mvapich2-ohpc<br>boost-gnu15-openmpi5-ohpc<br>boost-intel-impi-ohpc<br>boost-intel-mpich-ohpc<br>boost-intel-mvapich2-ohpc<br>boost-intel-openmpi5-ohpc | 1.88.0 | Free peer-reviewed portable C++ source libraries. [http://www.boost.org](http://www.boost.org) |
| fftw-gnu15-impi-ohpc<br>fftw-gnu15-mpich-ohpc<br>fftw-gnu15-mvapich2-ohpc<br>fftw-gnu15-openmpi5-ohpc<br>fftw-intel-impi-ohpc<br>fftw-intel-mpich-ohpc<br>fftw-intel-mvapich2-ohpc<br>fftw-intel-openmpi5-ohpc | 3.3.10 | A Fast Fourier Transform library. [http://www.fftw.org](http://www.fftw.org) |
| hypre-gnu15-impi-ohpc<br>hypre-gnu15-mpich-ohpc<br>hypre-gnu15-mvapich2-ohpc<br>hypre-gnu15-openmpi5-ohpc<br>hypre-intel-impi-ohpc<br>hypre-intel-mpich-ohpc<br>hypre-intel-mvapich2-ohpc<br>hypre-intel-openmpi5-ohpc | 2.33.0 | Scalable algorithms for solving linear systems of equations. [http://www.llnl.gov/casc/hypre](http://www.llnl.gov/casc/hypre) |
| mfem-gnu15-impi-ohpc<br>mfem-gnu15-mpich-ohpc<br>mfem-gnu15-mvapich2-ohpc<br>mfem-gnu15-openmpi5-ohpc<br>mfem-intel-impi-ohpc<br>mfem-intel-mpich-ohpc<br>mfem-intel-mvapich2-ohpc<br>mfem-intel-openmpi5-ohpc | 4.4 | Lightweight, general, scalable C++ library for finite element methods. [http://mfem.org](http://mfem.org) |
| mumps-gnu15-impi-ohpc<br>mumps-gnu15-mpich-ohpc<br>mumps-gnu15-mvapich2-ohpc<br>mumps-gnu15-openmpi5-ohpc<br>mumps-intel-impi-ohpc<br>mumps-intel-mpich-ohpc<br>mumps-intel-mvapich2-ohpc<br>mumps-intel-openmpi5-ohpc | 5.8.1 | A MUltifrontal Massively Parallel Sparse direct Solver. [https://mumps-solver.org](https://mumps-solver.org) |
| petsc-gnu15-impi-ohpc<br>petsc-gnu15-mpich-ohpc<br>petsc-gnu15-mvapich2-ohpc<br>petsc-gnu15-openmpi5-ohpc<br>petsc-intel-impi-ohpc<br>petsc-intel-mpich-ohpc<br>petsc-intel-mvapich2-ohpc<br>petsc-intel-openmpi5-ohpc | 3.23.5 | Portable Extensible Toolkit for Scientific Computation. [http://www.mcs.anl.gov/petsc](http://www.mcs.anl.gov/petsc) |
| ptscotch-gnu15-impi-ohpc<br>ptscotch-gnu15-mpich-ohpc<br>ptscotch-gnu15-mvapich2-ohpc<br>ptscotch-gnu15-openmpi5-ohpc<br>ptscotch-intel-impi-ohpc<br>ptscotch-intel-mpich-ohpc<br>ptscotch-intel-mvapich2-ohpc<br>ptscotch-intel-openmpi5-ohpc | 7.0.7 | Graph, mesh and hypergraph partitioning library using MPI. [http://www.labri.fr/perso/pelegrin/scotch](http://www.labri.fr/perso/pelegrin/scotch) |
| scalapack-gnu15-impi-ohpc<br>scalapack-gnu15-mpich-ohpc<br>scalapack-gnu15-mvapich2-ohpc<br>scalapack-gnu15-openmpi5-ohpc<br>scalapack-intel-impi-ohpc<br>scalapack-intel-mpich-ohpc<br>scalapack-intel-mvapich2-ohpc<br>scalapack-intel-openmpi5-ohpc | 2.2.2 | A subset of LAPACK routines redesigned for heterogeneous computing. [https://netlib.org/scalapack](https://netlib.org/scalapack) |
| slepc-gnu15-impi-ohpc<br>slepc-gnu15-mpich-ohpc<br>slepc-gnu15-mvapich2-ohpc<br>slepc-gnu15-openmpi5-ohpc<br>slepc-intel-impi-ohpc<br>slepc-intel-mpich-ohpc<br>slepc-intel-mvapich2-ohpc<br>slepc-intel-openmpi5-ohpc | 3.23.0 | A library for solving large scale sparse eigenvalue problems. [http://slepc.upv.es](http://slepc.upv.es) |
| superlu_dist-gnu15-impi-ohpc<br>superlu_dist-gnu15-mpich-ohpc<br>superlu_dist-gnu15-mvapich2-ohpc<br>superlu_dist-gnu15-openmpi5-ohpc<br>superlu_dist-intel-impi-ohpc<br>superlu_dist-intel-mpich-ohpc<br>superlu_dist-intel-mvapich2-ohpc<br>superlu_dist-intel-openmpi5-ohpc | 6.4.0 | A general purpose library for the direct solution of linear equations. [https://portal.nersc.gov/project/sparse/superlu](https://portal.nersc.gov/project/sparse/superlu) |
| trilinos-gnu15-impi-ohpc<br>trilinos-gnu15-mpich-ohpc<br>trilinos-gnu15-mvapich2-ohpc<br>trilinos-gnu15-openmpi5-ohpc<br>trilinos-intel-impi-ohpc<br>trilinos-intel-mpich-ohpc<br>trilinos-intel-mvapich2-ohpc<br>trilinos-intel-openmpi5-ohpc | 16.1.0 | A collection of libraries of numerical algorithms. [https://trilinos.org](https://trilinos.org) |

{% endif %}

