This chapter highlights common additional customizations that can *optionally*
be applied to the local cluster environment. Details on the steps required for
each of these customizations are discussed further in the following sections.
