## Add Magpie

Magpie contains a number of scripts to aid in running a variety of big data
software frameworks within HPC queuing environments. Examples include Hadoop,
Spark, Hbase, Storm, Pig, Mahout, Phoenix, Kafka, Zeppelin, and Zookeeper.
Consult the online [repository](https://github.com/LLNL/magpie) for more
information on using these scripts; basic installation is outlined as follows:

<!-- ohpc_begin -->
<!-- ohpc_if_set enable_magpie -->
```bash
# Install magpie
{{ pkg_install }} magpie-ohpc
```
<!-- ohpc_fi -->
<!-- ohpc_end -->
