{% if pkg_admin | default(true) %}
### Administrative Tools

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| conman | 0.3.1 | ConMan: The Console Manager. [http://dun.github.io/conman](http://dun.github.io/conman) |
| docs | 4.0.0 | OpenHPC documentation. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| examples | 2.0 | Example source code and templates for use within OpenHPC environment. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| genders | 1.32 | Static cluster configuration database. [https://github.com/chaos/genders](https://github.com/chaos/genders) |
| hpc-workspace | 1.5.0 | Temporary workspace management. [https://github.com/holgerBerger/hpc-workspace](https://github.com/holgerBerger/hpc-workspace) |
| lmod-defaults | 2.0 | OpenHPC default login environments. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| lmod | 9.2 | Lua based Modules (lmod). [https://github.com/TACC/Lmod](https://github.com/TACC/Lmod) |
| losf | 0.56.0 | A Linux operating system framework for managing HPC clusters. [https://github.com/hpcsi/losf](https://github.com/hpcsi/losf) |
| mdtoc | 1.4.0 | Markdown table-of-contents generator. [https://github.com/kubernetes-sigs/mdtoc](https://github.com/kubernetes-sigs/mdtoc) |
| nhc | 1.4.3 | LBNL Node Health Check. [https://github.com/mej/nhc](https://github.com/mej/nhc) |
| ohpc-release | 4 | OpenHPC release files. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| pdsh | 2.36 | Parallel remote shell program. [https://github.com/chaos/pdsh](https://github.com/chaos/pdsh) |
| prun | 2.2 | Convenience utility for parallel job launch. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| test-suite | 4.0.0 | Integration test suite for OpenHPC. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |

{% endif %}

{% if pkg_provisioning | default(true) %}
### Provisioning

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| warewulf | 4.6.5 | A provisioning system for large clusters of bare metal and/or virtual systems. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |
| warewulf-ohpc-dracut | 4.6.5 | dracut module for loading a Warewulf image. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |
| warewulf-ohpc-sos | 4.6.5 | sos plugin for Warewulf. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |

{% endif %}

{% if pkg_rms | default(true) %}
### Resource Management

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| magpie | 3.2 | Scripts for running Big Data software in HPC environments. [https://github.com/LLNL/magpie](https://github.com/LLNL/magpie) |
| openpbs-client | 23.06.06 | OpenPBS for a client host. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-execution | 23.06.06 | OpenPBS for an execution host. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-server | 23.06.06 | OpenPBS for a server host. [http://www.openpbs.org](http://www.openpbs.org) |
| pmix | 4.2.9 | An extended/exascale implementation of PMI. [https://pmix.org](https://pmix.org) |
| slurm-contribs | 25.05.7 | Perl tool to print Slurm job state information. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-devel | 25.05.7 | Development package for Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-example-configs | 25.05.7 | Example config files for Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-libpmi | 25.05.7 | Slurm\'s implementation of the pmi libraries. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm | 25.05.7 | Slurm Workload Manager. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-openlava | 25.05.7 | openlava/LSF wrappers for transition from OpenLava/LSF to Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-pam_slurm | 25.05.7 | PAM module for restricting access to compute nodes via Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-perlapi | 25.05.7 | Perl API to Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sackd | 25.05.7 | Slurm authentication daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmctld | 25.05.7 | Slurm controller daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmd | 25.05.7 | Slurm compute node daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmdbd | 25.05.7 | Slurm database daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sview | 25.05.7 | Graphical user interface to view and modify Slurm state. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-torque | 25.05.7 | Torque/PBS wrappers for transition from Torque/PBS to Slurm. [https://slurm.schedmd.com](https://slurm.schedmd.com) |

{% endif %}

{% if pkg_compiler_families | default(true) %}
### Compiler Families

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| gnu15-compilers | 15.2.0 | The GNU C Compiler and Support Files. [http://gcc.gnu.org](http://gcc.gnu.org) |

{% endif %}

{% if pkg_mpi_families | default(true) %}
### MPI Families / Communication Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| mpich | 5.0.1 | MPICH MPI implementation. [http://www.mpich.org](http://www.mpich.org) |
| openmpi5 | 5.0.10 | A powerful implementation of MPI/SHMEM. [http://www.open-mpi.org](http://www.open-mpi.org) |
| ucx | 1.20.0 | UCX is a communication library implementing high-performance messaging. [http://www.openucx.org](http://www.openucx.org) |

{% endif %}

{% if pkg_dev_tools | default(true) %}
### Development Tools

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| EasyBuild | 5.3.0 | Software build and installation framework. [https://easybuilders.github.io/easybuild](https://easybuilders.github.io/easybuild) |
| autoconf | 2.71 | A GNU tool for automatically configuring source code. [http://www.gnu.org/software/autoconf](http://www.gnu.org/software/autoconf) |
| automake | 1.16.5 | A GNU tool for automatically creating Makefiles. [http://www.gnu.org/software/automake](http://www.gnu.org/software/automake) |
| cmake | 4.3.1 | CMake is an open-source, cross-platform family of tools designed to build, test and package software. [https://cmake.org](https://cmake.org) |
| hwloc | 2.13.0 | Portable Hardware Locality. [http://www.open-mpi.org/projects/hwloc](http://www.open-mpi.org/projects/hwloc) |
| libtool | 2.4.6 | The GNU Portable Library Tool. [http://www.gnu.org/software/libtool](http://www.gnu.org/software/libtool) |
| python3-mpi4py | 4.1.1 | Python bindings for the Message Passing Interface (MPI) standard. [https://github.com/mpi4py/mpi4py](https://github.com/mpi4py/mpi4py) |
| python3-numpy | 2.4.4 | NumPy array processing for numbers, strings, records and objects. [https://github.com/numpy/numpy](https://github.com/numpy/numpy) |
| spack | 1.1.1 | HPC software package management. [https://github.com/spack/spack](https://github.com/spack/spack) |
| valgrind | 3.26.0 | Valgrind Memory Debugger. [http://www.valgrind.org](http://www.valgrind.org) |

{% endif %}

{% if pkg_perf_tools | default(true) %}
### Performance Analysis Tools

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| dimemas | 5.5.0 | Dimemas tool. [https://tools.bsc.es](https://tools.bsc.es) |
| extrae | 5.0.3 | Extrae tool. [https://tools.bsc.es](https://tools.bsc.es) |
| imb | 2021.11 | Intel MPI Benchmarks (IMB). [https://software.intel.com/en-us/articles/intel-mpi-benchmarks](https://software.intel.com/en-us/articles/intel-mpi-benchmarks) |
| likwid | 5.5.1 | Performance tools for the Linux console. [https://github.com/RRZE-HPC/likwid](https://github.com/RRZE-HPC/likwid) |
| omb | 7.5.2 | OSU Micro-benchmarks. [https://mvapich.cse.ohio-state.edu/benchmarks](https://mvapich.cse.ohio-state.edu/benchmarks) |
| papi | 7.2.0 | Performance Application Programming Interface. [http://icl.cs.utk.edu/papi](http://icl.cs.utk.edu/papi) |
| paraver | 4.12.0 | Paraver. [https://tools.bsc.es](https://tools.bsc.es) |
| pdtoolkit | 3.25.1 | PDT is a framework for analyzing source code. [http://www.cs.uoregon.edu/Research/pdt](http://www.cs.uoregon.edu/Research/pdt) |
| scalasca | 2.6.2 | Toolset for performance analysis of large-scale parallel applications. [http://www.scalasca.org](http://www.scalasca.org) |
| scorep | 9.4 | Scalable Performance Measurement Infrastructure for Parallel Codes. [http://www.vi-hps.org/projects/score-p](http://www.vi-hps.org/projects/score-p) |
| tau | 2.35.1 | Tuning and Analysis Utilities Profiling Package. [http://www.cs.uoregon.edu/research/tau/home.php](http://www.cs.uoregon.edu/research/tau/home.php) |

{% endif %}

{% if pkg_io_libs | default(true) %}
### IO Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| adios2 | 2.11.0 | The Adaptable IO System v2 (ADIOS2). [https://adios2.readthedocs.io/en/latest/index.html](https://adios2.readthedocs.io/en/latest/index.html) |
| cubew | 4.9.1 | CUBE Uniform Behavioral Encoding generic presentation writer component. [http://www.scalasca.org/software/cube-4.x/download.html](http://www.scalasca.org/software/cube-4.x/download.html) |
| hdf5 | 2.1.1 | A general purpose library and file format for storing scientific data. [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| netcdf-cxx | 4.3.1 | C++ Libraries for the Unidata network Common Data Form. [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-fortran | 4.6.2 | Fortran Libraries for the Unidata network Common Data Form. [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf | 4.10.0 | C Libraries for the Unidata network Common Data Form. [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| otf2 | 3.1.1 | Open Trace Format 2 library. [http://score-p.org](http://score-p.org) |
| phdf5 | 2.1.1 | A general purpose library and file format for storing scientific data (parallel version). [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| pnetcdf | 1.14.1 | A Parallel NetCDF library (PnetCDF). [http://cucis.ece.northwestern.edu/projects/PnetCDF](http://cucis.ece.northwestern.edu/projects/PnetCDF) |
| sionlib | 1.7.7 | Scalable I/O Library for Parallel Access to Task-Local Files. [https://apps.fz-juelich.de/jsc/sionlib/docu/index.html](https://apps.fz-juelich.de/jsc/sionlib/docu/index.html) |

{% endif %}

{% if pkg_distro_packages | default(true) %}
### Distro Packages

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| python3-Cython | 3.2.4 | The Cython compiler for writing C extensions for the Python language. [http://www.cython.org](http://www.cython.org) |

{% endif %}

{% if pkg_runtimes | default(true) %}
### Runtimes

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| charliecloud | 0.44 | Lightweight user-defined software stacks for high-performance computing. [https://charliecloud.io](https://charliecloud.io) |

{% endif %}

{% if pkg_serial_libs | default(true) %}
### Serial/Threaded Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| R | 4.5.3 | R is a language and environment for statistical computing and graphics (S-Plus like). [http://www.r-project.org](http://www.r-project.org) |
| cubelib | 4.9.1 | CUBE Uniform Behavioral Encoding generic presentation library component. [http://www.scalasca.org/software/cube-4.x/download.html](http://www.scalasca.org/software/cube-4.x/download.html) |
| gotcha | 1.0.8 | A library for wrapping function calls to shared libraries. [https://github.com/llnl/gotcha](https://github.com/llnl/gotcha) |
| gsl | 2.8 | GNU Scientific Library (GSL). [http://www.gnu.org/software/gsl](http://www.gnu.org/software/gsl) |
| metis | 5.1.0 | Serial Graph Partitioning and Fill-reducing Matrix Ordering. [http://glaros.dtc.umn.edu/gkhome/metis/metis/overview](http://glaros.dtc.umn.edu/gkhome/metis/metis/overview) |
| opari2 | 2.0.9 | An OpenMP runtime performance measurement instrumenter. [https://www.vi-hps.org/projects/score-p](https://www.vi-hps.org/projects/score-p) |
| openblas | 0.3.32 | An optimized BLAS library based on GotoBLAS2. [http://www.openblas.net](http://www.openblas.net) |
| plasma | 25.5.27 | Parallel Linear Algebra Software for Multicore Architectures. [https://github.com/icl-utk-edu/plasma](https://github.com/icl-utk-edu/plasma) |
| scotch | 7.0.11 | Graph, mesh and hypergraph partitioning library. [https://gitlab.inria.fr/scotch/scotch](https://gitlab.inria.fr/scotch/scotch) |
| superlu | 7.0.1 | A general purpose library for the direct solution of linear equations. [http://crd.lbl.gov/~xiaoye/SuperLU](http://crd.lbl.gov/~xiaoye/SuperLU) |

{% endif %}

{% if pkg_parallel_libs | default(true) %}
### Parallel Libraries

| **RPM Package Name** | **Version** | **Info/URL** |
|------|--|------------|
| boost | 1.90.0 | Free peer-reviewed portable C++ source libraries. [http://www.boost.org](http://www.boost.org) |
| fftw | 3.3.10 | A Fast Fourier Transform library. [http://www.fftw.org](http://www.fftw.org) |
| hypre | 3.1.0 | Scalable algorithms for solving linear systems of equations. [http://www.llnl.gov/casc/hypre](http://www.llnl.gov/casc/hypre) |
| mfem | 4.9 | Lightweight, general, scalable C++ library for finite element methods. [http://mfem.org](http://mfem.org) |
| mumps | 5.8.2 | A MUltifrontal Massively Parallel Sparse direct Solver. [https://mumps-solver.org](https://mumps-solver.org) |
| petsc | 3.25.0 | Portable Extensible Toolkit for Scientific Computation. [http://www.mcs.anl.gov/petsc](http://www.mcs.anl.gov/petsc) |
| ptscotch | 7.0.11 | Graph, mesh and hypergraph partitioning library using MPI. [https://gitlab.inria.fr/scotch/scotch](https://gitlab.inria.fr/scotch/scotch) |
| scalapack | 2.2.3 | A subset of LAPACK routines redesigned for heterogeneous computing. [https://netlib.org/scalapack](https://netlib.org/scalapack) |
| slepc | 3.25.0 | A library for solving large scale sparse eigenvalue problems. [http://slepc.upv.es](http://slepc.upv.es) |
| superlu_dist | 9.2.1 | A general purpose library for the direct solution of linear equations. [https://portal.nersc.gov/project/sparse/superlu](https://portal.nersc.gov/project/sparse/superlu) |
| trilinos | 17.0.0 | A collection of libraries of numerical algorithms. [https://trilinos.org](https://trilinos.org) |

{% endif %}

