*~
*/*/BUILD
*/*/BUILDROOT
*/*/SOURCES/OHPC_macros
*/*/RPMS
*/*/SRPMS
admin/clustershell/SOURCES/v*.tar.gz
admin/conman/SOURCES/conman-*.tar.gz
admin/docs/SOURCES/docs-ohpc.tar
admin/genders/SOURCES/genders-*.tar.gz
admin/lmod/SOURCES/lmod-*.tar.gz
admin/losf/SOURCES/losf-*.tar.gz
admin/mrsh/SOURCES/mrsh-*.tar.gz
admin/nhc/SOURCES/nhc-*.tar.gz
admin/nrpe/SOURCES/nrpe-*.tar.gz
admin/pdsh/SOURCES/pdsh-*.tar.gz
admin/powerman/SOURCES/powerman-*.tar.gz
admin/test-suite/SOURCES/tests-ohpc.tar
compiler-families/gnu-compilers/SOURCES/gcc-*.tar.xz
compiler-families/gnu-compilers/SOURCES/gmp-*.tar.bz2
compiler-families/gnu-compilers/SOURCES/mpc-*.tar.gz
compiler-families/gnu-compilers/SOURCES/mpfr-*.tar.gz
compiler-families/llvm-compilers/SOURCES/llvm-project-*.tar.xz
dev-tools/autoconf/SOURCES/autoconf-*.tar.gz
dev-tools/automake/SOURCES/automake-*.tar.gz
dev-tools/annobin/SOURCES/annobin-*.tar.xz
dev-tools/cmake/SOURCES/cmake-*.tar.gz
dev-tools/easybuild/SOURCES/easybuild-easyblocks-*.tar.gz
dev-tools/easybuild/SOURCES/easybuild-easyconfigs-*.tar.gz
dev-tools/easybuild/SOURCES/easybuild-framework-*.tar.gz
dev-tools/hwloc/SOURCES/hwloc-*.tar.bz2
dev-tools/libtool/SOURCES/libtool-*.tar.gz
dev-tools/mpi4py/SOURCES/mpi4py-*.tar.gz
dev-tools/numpy/SOURCES/numpy-*.tar.gz
dev-tools/python/SOURCES/Python-*.tar.xz
dev-tools/python/SOURCES/Python-*.tar.xz.asc
dev-tools/scipy/SOURCES/scipy-*.tar.gz
dev-tools/spack/SOURCES/v*.tar.gz
dev-tools/valgrind/SOURCES/valgrind-*.tar.bz2
distro-packages/confuse/SOURCES/confuse-*.tar.gz
distro-packages/flex/SOURCES/flex-*.tar.gz
distro-packages/ipmiutil/SOURCES/ipmiutil-*.tar.gz
distro-packages/python-Cython/SOURCES/Cython-*.tar.gz
distro-packages/python-setuptools/SOURCES/setuptools-*.tar.gz
distro-packages/sigar/SOURCES/sigar-*.tar.gz
fs/shine/SOURCES/v*.tar.gz
fs/lustre-client/SOURCES/lustre-*.tar.gz
io-libs/adios/SOURCES/adios-*.tar.gz
io-libs/hdf5/SOURCES/hdf5-*.tar.bz2
io-libs/netcdf-cxx/SOURCES/v*.tar.gz
io-libs/netcdf-fortran/SOURCES/v*.tar.gz
io-libs/netcdf/SOURCES/v*.tar.gz
io-libs/phdf5/SOURCES/hdf5-*.tar.bz2
io-libs/pnetcdf/SOURCES/pnetcdf-*.tar.gz
io-libs/sionlib/SOURCES/sionlib-*.tar.gz
mpi-families/libfabric/SOURCES/libfabric-*.tar.bz2
mpi-families/mpich/SOURCES/mpich-*.tar.gz
mpi-families/mvapich2/SOURCES/mvapich2-*.tar.gz
mpi-families/openmpi/SOURCES/openmpi-*.tar.bz2
mpi-families/ucx/SOURCES/ucx-*.tar.gz
parallel-libs/boost/SOURCES/boost*.tar.gz
parallel-libs/fftw/SOURCES/fftw-*.tar.gz
parallel-libs/hypre/SOURCES/hypre-*.tar.gz
parallel-libs/mfem/SOURCES/mfem-*.tar
parallel-libs/mumps/SOURCES/MUMPS*.tar.gz
parallel-libs/opencoarrays/SOURCES/OpenCoarrays-*.tar.gz
parallel-libs/petsc/SOURCES/petsc-*.tar.gz
parallel-libs/ptscotch/SOURCES/scotch*.tar.gz
parallel-libs/scalapack/SOURCES/scalapack-*.tgz
parallel-libs/slepc/SOURCES/slepc-*.tar.gz
parallel-libs/superlu_dist/SOURCES/superlu_dist-*.tar
parallel-libs/trilinos/SOURCES/trilinos-release-*.tar.gz
perf-tools/dimemas/SOURCES/dimemas-*src.tar.bz2
perf-tools/extrae/SOURCES/extrae-*src.tar.bz2
perf-tools/geopm/SOURCES/geopm-*.tar.gz
perf-tools/imb/SOURCES/IMB-v*.tar.gz
perf-tools/likwid/SOURCES/v*.tar.gz
perf-tools/msr-safe/SOURCES/msr-safe-*.tar.gz
perf-tools/omb/SOURCES/osu-micro-benchmarks-*.tgz
perf-tools/papi/SOURCES/papi-*.tar.gz
perf-tools/paraver/SOURCES/wxparaver-*-src.tar.bz2
perf-tools/pdtoolkit/SOURCES/pdtoolkit-*.tar.gz
perf-tools/scalasca/SOURCES/scalasca-*.tar.gz
perf-tools/scalasca/SPECS/wget-log
perf-tools/scorep/SOURCES/scorep-*.tar.gz
perf-tools/tau/SOURCES/tau-*.tar.gz
perf-tools/tau/SOURCES/tau-*.tar.gz
provisioning/warewulf-cluster/SOURCES/*.tar.gz
provisioning/warewulf-common/SOURCES/*.tar.gz
provisioning/warewulf-ipmi/SOURCES/*.tar.gz
provisioning/warewulf-provision/SOURCES/*.tar.gz
provisioning/warewulf-vnfs/SOURCES/*.tar.gz
provisioning/warewulf/SOURCES/warewulf-*.tar.gz
rms/magpie/SOURCES/*.tar.gz
rms/munge/SOURCES/munge-*.tar.gz
rms/openpbs/SOURCES/v*.tar.gz
rms/pmix/SOURCES/pmix-*.tar.bz2
rms/slurm/SOURCES/slurm-*.tar.bz2
runtimes/charliecloud/SOURCES/charliecloud-*.tar.gz
serial-libs/R/SOURCES/R-*.tar.gz
serial-libs/gsl/SOURCES/gsl-*.tar.gz
serial-libs/metis/SOURCES/metis-*.tar.gz
serial-libs/openblas/SOURCES/openblas-*.tar.gz
serial-libs/plasma/SOURCES/lapack-*.tar.gz
serial-libs/plasma/SOURCES/plasma-installer*.tar.gz
serial-libs/plasma/SOURCES/plasma*.tar.gz
serial-libs/plasma/SOURCES/v*.tar.gz
serial-libs/scotch/SOURCES/scotch*.tar.gz
serial-libs/superlu/SOURCES/superlu*.tar.gz
