SUBSYSTEM=="msr_safe", GROUP="root", MODE="0666"
SUBSYSTEM=="msr_batch", GROUP="root", MODE="0666"
SUBSYSTEM=="msr_whitelist", GROUP="root", MODE="0664"
