| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| adios2-gnu15-impi-ohpc<br>adios2-gnu15-mpich-ohpc<br>adios2-gnu15-mvapich2-ohpc<br>adios2-gnu15-openmpi5-ohpc<br>adios2-intel-impi-ohpc<br>adios2-intel-mpich-ohpc<br>adios2-intel-mvapich2-ohpc<br>adios2-intel-openmpi5-ohpc | 2.10.2 | The Adaptable IO System v2 (ADIOS2) [https://adios2.readthedocs.io/en/latest/index.html](https://adios2.readthedocs.io/en/latest/index.html) |
| cubew-gnu15-ohpc<br>cubew-intel-ohpc | 4.9 | CUBE Uniform Behavioral Encoding generic presentation writer component [http://www.scalasca.org/software/cube-4.x/download.html](http://www.scalasca.org/software/cube-4.x/download.html) |
| hdf5-gnu15-ohpc<br>hdf5-intel-ohpc | 1.14.6 | A general purpose library and file format for storing scientific data [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| netcdf-cxx-gnu15-impi-ohpc<br>netcdf-cxx-gnu15-mpich-ohpc<br>netcdf-cxx-gnu15-mvapich2-ohpc | 4.3.1 | C++ Libraries for the Unidata network Common Data Form [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-cxx-gnu15-ohpc<br>netcdf-cxx-gnu15-openmpi5-ohpc<br>netcdf-cxx-intel-impi-ohpc<br>netcdf-cxx-intel-mpich-ohpc<br>netcdf-cxx-intel-mvapich2-ohpc<br>netcdf-cxx-intel-ohpc<br>netcdf-cxx-intel-openmpi5-ohpc | 4.3.1 | C++ Libraries for the Unidata network Common Data Form [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-fortran-gnu15-impi-ohpc<br>netcdf-fortran-gnu15-mpich-ohpc<br>netcdf-fortran-gnu15-mvapich2-ohpc | 4.6.2 | Fortran Libraries for the Unidata network Common Data Form [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-fortran-gnu15-ohpc<br>netcdf-fortran-gnu15-openmpi5-ohpc<br>netcdf-fortran-intel-impi-ohpc<br>netcdf-fortran-intel-mpich-ohpc<br>netcdf-fortran-intel-mvapich2-ohpc<br>netcdf-fortran-intel-ohpc<br>netcdf-fortran-intel-openmpi5-ohpc | 4.6.2 | Fortran Libraries for the Unidata network Common Data Form [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-gnu15-impi-ohpc<br>netcdf-gnu15-mpich-ohpc<br>netcdf-gnu15-mvapich2-ohpc | 4.9.3 | C Libraries for the Unidata network Common Data Form [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| netcdf-gnu15-ohpc<br>netcdf-gnu15-openmpi5-ohpc<br>netcdf-intel-impi-ohpc<br>netcdf-intel-mpich-ohpc<br>netcdf-intel-mvapich2-ohpc<br>netcdf-intel-ohpc<br>netcdf-intel-openmpi5-ohpc | 4.9.3 | C Libraries for the Unidata network Common Data Form [http://www.unidata.ucar.edu/software/netcdf](http://www.unidata.ucar.edu/software/netcdf) |
| otf2-gnu15-impi-ohpc<br>otf2-gnu15-mpich-ohpc<br>otf2-gnu15-mvapich2-ohpc<br>otf2-gnu15-openmpi5-ohpc<br>otf2-intel-impi-ohpc<br>otf2-intel-mpich-ohpc<br>otf2-intel-mvapich2-ohpc<br>otf2-intel-openmpi5-ohpc | 3.1.1 | Open Trace Format 2 library [http://score-p.org](http://score-p.org) |
| phdf5-gnu15-impi-ohpc<br>phdf5-gnu15-mpich-ohpc<br>phdf5-gnu15-mvapich2-ohpc<br>phdf5-gnu15-openmpi5-ohpc<br>phdf5-intel-impi-ohpc<br>phdf5-intel-mpich-ohpc<br>phdf5-intel-mvapich2-ohpc<br>phdf5-intel-openmpi5-ohpc | 1.14.6 | A general purpose library and file format for storing scientific data [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
