| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| intel-mpi-devel-ohpc | 2025.0 | OpenHPC compatibility package for Intel(R) oneAPI MPI Library. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| mpich-ofi-gnu15-ohpc<br>mpich-ofi-intel-ohpc | 3.4.3 | MPICH MPI implementation. [http://www.mpich.org](http://www.mpich.org) |
| mpich-ucx-gnu15-ohpc<br>mpich-ucx-intel-ohpc | 3.4.3 | MPICH MPI implementation. [http://www.mpich.org](http://www.mpich.org) |
| mvapich2-gnu15-ohpc<br>mvapich2-intel-ohpc | 2.3.7 | OSU MVAPICH2 MPI implementation. [http://mvapich.cse.ohio-state.edu](http://mvapich.cse.ohio-state.edu) |
| openmpi5-gnu15-ohpc<br>openmpi5-intel-ohpc<br>openmpi5-pmix-gnu15-ohpc<br>openmpi5-pmix-intel-ohpc | 5.0.8 | A powerful implementation of MPI/SHMEM. [http://www.open-mpi.org](http://www.open-mpi.org) |
| ucx-ohpc | 1.18.0 | UCX is a communication library implementing high-performance messaging. [http://www.openucx.org](http://www.openucx.org) |
