| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| dimemas-gnu15-impi-ohpc<br>dimemas-gnu15-mpich-ohpc<br>dimemas-gnu15-mvapich2-ohpc<br>dimemas-gnu15-openmpi5-ohpc<br>dimemas-intel-impi-ohpc<br>dimemas-intel-mpich-ohpc<br>dimemas-intel-mvapich2-ohpc<br>dimemas-intel-openmpi5-ohpc | 5.4.2 | Dimemas tool [https://tools.bsc.es](https://tools.bsc.es) |
| extrae-gnu15-impi-ohpc<br>extrae-gnu15-mpich-ohpc<br>extrae-gnu15-mvapich2-ohpc<br>extrae-gnu15-openmpi5-ohpc<br>extrae-intel-impi-ohpc<br>extrae-intel-mpich-ohpc<br>extrae-intel-mvapich2-ohpc<br>extrae-intel-openmpi5-ohpc | 3.8.3 | Extrae tool [https://tools.bsc.es](https://tools.bsc.es) |
| imb-gnu15-impi-ohpc<br>imb-gnu15-mpich-ohpc<br>imb-gnu15-mvapich2-ohpc<br>imb-gnu15-openmpi5-ohpc<br>imb-intel-impi-ohpc<br>imb-intel-mpich-ohpc<br>imb-intel-mvapich2-ohpc<br>imb-intel-openmpi5-ohpc | 2021.3 | Intel MPI Benchmarks (IMB) [https://software.intel.com/en-us/articles/intel-mpi-benchmarks](https://software.intel.com/en-us/articles/intel-mpi-benchmarks) |
| likwid-gnu15-ohpc<br>likwid-intel-ohpc | 5.4.1 | Performance tools for the Linux console [https://github.com/RRZE-HPC/likwid](https://github.com/RRZE-HPC/likwid) |
| omb-gnu15-impi-ohpc<br>omb-gnu15-mpich-ohpc<br>omb-gnu15-mvapich2-ohpc<br>omb-gnu15-openmpi5-ohpc<br>omb-intel-impi-ohpc<br>omb-intel-mpich-ohpc<br>omb-intel-mvapich2-ohpc<br>omb-intel-openmpi5-ohpc | 7.5 | OSU Micro-benchmarks [https://mvapich.cse.ohio-state.edu/benchmarks](https://mvapich.cse.ohio-state.edu/benchmarks) |
| papi-ohpc | 7.2.0 | Performance Application Programming Interface [http://icl.cs.utk.edu/papi](http://icl.cs.utk.edu/papi) |
