| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| R-gnu15-ohpc | 4.5.0 | R is a language and environment for statistical computing and graphics (S-Plus like) [http://www.r-project.org](http://www.r-project.org) |
| cubelib-gnu15-ohpc<br>cubelib-intel-ohpc | 4.9 | CUBE Uniform Behavioral Encoding generic presentation library component [http://www.scalasca.org/software/cube-4.x/download.html](http://www.scalasca.org/software/cube-4.x/download.html) |
| gotcha-gnu15-ohpc<br>gotcha-intel-ohpc | 1.0.8 | A library for wrapping function calls to shared libraries [https://github.com/llnl/gotcha](https://github.com/llnl/gotcha) |
| gsl-gnu15-ohpc<br>gsl-intel-ohpc | 2.8 | GNU Scientific Library (GSL) [http://www.gnu.org/software/gsl](http://www.gnu.org/software/gsl) |
| metis-gnu15-ohpc<br>metis-intel-ohpc | 5.1.0 | Serial Graph Partitioning and Fill-reducing Matrix Ordering [http://glaros.dtc.umn.edu/gkhome/metis/metis/overview](http://glaros.dtc.umn.edu/gkhome/metis/metis/overview) |
| openblas-gnu15-ohpc | 0.3.29 | An optimized BLAS library based on GotoBLAS2 [http://www.openblas.net](http://www.openblas.net) |
| opari2-gnu15-ohpc<br>opari2-intel-ohpc | 2.0.9 | An OpenMP runtime performance measurement instrumenter [https://www.vi-hps.org/projects/score-p](https://www.vi-hps.org/projects/score-p) |
| plasma-gnu15-ohpc<br>plasma-intel-ohpc | 24.8.7 | Parallel Linear Algebra Software for Multicore Architectures [https://github.com/icl-utk-edu/plasma](https://github.com/icl-utk-edu/plasma) |
| scotch-gnu15-ohpc<br>scotch-intel-ohpc | 7.0.7 | Graph, mesh and hypergraph partitioning library [https://gitlab.inria.fr/scotch/scotch](https://gitlab.inria.fr/scotch/scotch) |
| superlu-gnu15-ohpc<br>superlu-intel-ohpc | 7.0.0 | A general purpose library for the direct solution of linear equations [http://crd.lbl.gov/~xiaoye/SuperLU](http://crd.lbl.gov/~xiaoye/SuperLU) |
