## Enable Package Repositories

In addition to the OpenHPC package repository, the *head node* also requires
access to the standard base OS distro repositories in order to resolve
necessary dependencies. For {{ distro_full_name }}, the base distribution
repositories provide all necessary dependencies and are typically enabled by
default during OS installation.
