\vspace*{0.1\textheight}

# Legal Notice {.unnumbered}

Copyright &copy; 2016-2026, OpenHPC, a Linux Foundation Collaborative Project.
All rights reserved.

This documentation is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
[http://creativecommons.org/licenses/by/4.0](http://creativecommons.org/licenses/by/4.0).

![](figures/cc_by){.format-variant width=2cm}

Intel, the Intel logo, and other Intel marks are trademarks of Intel Corporation
in the U.S. and/or other countries.

\*Other names and brands may be claimed as the property of others.
