![](figures/ohpc_logo_blue){.right-align .format-variant width=4cm}

[OpenHPC (v{{ ohpc_version }})]{.title-main}

[Cluster Building Recipes]{.title-sub}

---

[{{ distro_full_name }} Base OS]{.title-section}

[{{ provisioner_name }}/{{ scheduler_name }} Edition for Linux* ({{ arch
}})]{.title-section}

---

::: {.vfill}
:::

![](figures/4x_icon){.format-variant width=2cm}

[Document Last Update: {{ vc_date }}]{.title-meta}

[Document Revision: {{ vc_revision }}]{.title-meta}

\newpage
