The install procedure outlined in [Install OpenHPC
Components](#install-openhpc-components) highlighted the steps necessary to
install a *head node*, assemble and customize a *compute* image, and provision
several compute hosts from bare-metal. With these steps completed, additional
OpenHPC-provided packages can now be added to support a flexible HPC development
environment including development tools, C/C++/FORTRAN compilers, MPI stacks,
and a variety of 3rd party libraries. The following subsections highlight the
additional software installation procedures.
