## Performance Tools

OpenHPC provides a variety of open-source tools to aid in application
performance analysis (refer to [Package Manifest](#package-manifest) for a
listing of available packages). This group of tools can be installed as follows:

<!-- ohpc_begin -->
<!-- ohpc_comment Install Performance Tools -->
```bash
# Install perf-tools meta-package
{{ pkg_install }} ohpc-{{ gnu_version }}-perf-tools
```
<!-- ohpc_end -->
