| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| conman-ohpc | 0.3.1 | ConMan: The Console Manager. [http://dun.github.io/conman](http://dun.github.io/conman) |
| docs-ohpc | 4.0.0 | OpenHPC documentation. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| examples-ohpc | 2.0 | Example source code and templates for use within OpenHPC environment. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| genders-ohpc | 1.32 | Static cluster configuration database. [https://github.com/chaos/genders](https://github.com/chaos/genders) |
| hpc-workspace-ohpc | 1.5.0 | Temporary workspace management. [https://github.com/holgerBerger/hpc-workspace](https://github.com/holgerBerger/hpc-workspace) |
| lmod-defaults-gnu15-impi-ohpc<br>lmod-defaults-gnu15-mpich-ohpc<br>lmod-defaults-gnu15-mvapich2-ohpc<br>lmod-defaults-gnu15-openmpi5-ohpc<br>lmod-defaults-intel-impi-ohpc<br>lmod-defaults-intel-mpich-ohpc<br>lmod-defaults-intel-mvapich2-ohpc<br>lmod-defaults-intel-openmpi5-ohpc | 2.0 | OpenHPC default login environments. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| lmod-ohpc | 8.7.64 | Lua based Modules (lmod). [https://github.com/TACC/Lmod](https://github.com/TACC/Lmod) |
| losf-ohpc | 0.56.0 | A Linux operating system framework for managing HPC clusters. [https://github.com/hpcsi/losf](https://github.com/hpcsi/losf) |
| nhc-ohpc | 1.4.3 | LBNL Node Health Check. [https://github.com/mej/nhc](https://github.com/mej/nhc) |
| ohpc-release | 4 | OpenHPC release files. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| pdsh-ohpc | 2.35 | Parallel remote shell program. [https://github.com/chaos/pdsh](https://github.com/chaos/pdsh) |
| prun-ohpc | 2.2 | Convenience utility for parallel job launch. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| test-suite-ohpc | 4.0.0 | Integration test suite for OpenHPC. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
