| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| EasyBuild-ohpc | 5.1.2 | Software build and installation framework [https://easybuilders.github.io/easybuild](https://easybuilders.github.io/easybuild) |
| automake-ohpc | 1.16.5 | A GNU tool for automatically creating Makefiles [http://www.gnu.org/software/automake](http://www.gnu.org/software/automake) |
| autoconf-ohpc | 2.71 | A GNU tool for automatically configuring source code [http://www.gnu.org/software/autoconf](http://www.gnu.org/software/autoconf) |
| cmake-ohpc | 4.1.2 | CMake is an open-source, cross-platform family of tools designed to build, test and package software [https://cmake.org](https://cmake.org) |
| cuda-repo-ohpc | 25.9 | Cuda toolkit online repository [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| cuda-devel-ohpc | 25.9 | OpenHPC compatibility package for cuda [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| hwloc-ohpc | 2.12.1 | Portable Hardware Locality [http://www.open-mpi.org/projects/hwloc](http://www.open-mpi.org/projects/hwloc) |
| libtool-ohpc | 2.4.6 | The GNU Portable Library Tool [http://www.gnu.org/software/libtool](http://www.gnu.org/software/libtool) |
| python3-numpy-gnu15-ohpc<br>python3-numpy-intel-ohpc | 1.26.4 | NumPy array processing for numbers, strings, records and objects [https://github.com/numpy/numpy](https://github.com/numpy/numpy) |
| python3-mpi4py-gnu15-impi-ohpc<br>python3-mpi4py-gnu15-mpich-ohpc<br>python3-mpi4py-gnu15-mvapich2-ohpc<br>python3-mpi4py-gnu15-openmpi5-ohpc<br>python3-mpi4py-intel-impi-ohpc<br>python3-mpi4py-intel-mpich-ohpc<br>python3-mpi4py-intel-mvapich2-ohpc<br>python3-mpi4py-intel-openmpi5-ohpc | 3.1.5 | Python bindings for the Message Passing Interface (MPI) standard [https://github.com/mpi4py/mpi4py](https://github.com/mpi4py/mpi4py) |
| spack-ohpc | 1.0.1 | HPC software package management [https://github.com/spack/spack](https://github.com/spack/spack) |
| valgrind-ohpc | 3.25.1 | Valgrind Memory Debugger [http://www.valgrind.org](http://www.valgrind.org) |
