| **Group Name** | **Description** |
|----------------|----------------|
| ohpc-intel-mvapich2-parallel-libs | Collection of parallel library builds for use with Intel(R) oneAPI Toolkit and the MVAPICH2 runtime |
| ohpc-intel-mvapich2-perf-tools | Collection of performance tool builds for use with Intel(R) oneAPI Toolkit compiler toolchain and the MVAPICH2 runtime |
| ohpc-intel-openmpi5-io-libs | Collection of IO library builds for use with Intel(R) oneAPI Toolkit and OpenMPI runtime |
| ohpc-intel-openmpi5-parallel-libs | Collection of parallel library builds for use with Intel(R) oneAPI Toolkit and the OpenMPI runtime |
| ohpc-intel-openmpi5-perf-tools | Collection of performance tool builds for use with Intel(R) oneAPI Toolkit compiler toolchain and the OpenMPI runtime |
| ohpc-intel-perf-tools | Collection of performance tool builds for use with Intel(R) oneAPI Toolkit |
| ohpc-intel-python3-libs | Collection of python3 related library builds for use with Intel(R) oneAPI Toolkit |
| ohpc-intel-serial-libs | Collection of serial library builds for use with Intel(R) oneAPI Toolkit |
| ohpc-slurm-client | Collection of client packages for SLURM |
| ohpc-slurm-server | Collection of server packages for SLURM |
| ohpc-warewulf | Collection of base packages for Warewulf provisioning |
