| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| scalasca-gnu15-impi-ohpc<br>scalasca-gnu15-mpich-ohpc<br>scalasca-gnu15-mvapich2-ohpc<br>scalasca-gnu15-openmpi5-ohpc<br>scalasca-intel-impi-ohpc<br>scalasca-intel-mpich-ohpc<br>scalasca-intel-mvapich2-ohpc<br>scalasca-intel-openmpi5-ohpc | 2.6.2 | Toolset for performance analysis of large-scale parallel applications [http://www.scalasca.org](http://www.scalasca.org) |
| scorep-gnu15-impi-ohpc<br>scorep-gnu15-mpich-ohpc<br>scorep-gnu15-mvapich2-ohpc<br>scorep-gnu15-openmpi5-ohpc<br>scorep-intel-impi-ohpc<br>scorep-intel-mpich-ohpc<br>scorep-intel-mvapich2-ohpc<br>scorep-intel-openmpi5-ohpc | 9.3 | Scalable Performance Measurement Infrastructure for Parallel Codes [http://www.vi-hps.org/projects/score-p](http://www.vi-hps.org/projects/score-p) |
| tau-gnu15-impi-ohpc<br>tau-gnu15-mpich-ohpc<br>tau-gnu15-mvapich2-ohpc<br>tau-gnu15-openmpi5-ohpc<br>tau-intel-impi-ohpc<br>tau-intel-mpich-ohpc<br>tau-intel-mvapich2-ohpc<br>tau-intel-openmpi5-ohpc | 2.34.1 | Tuning and Analysis Utilities Profiling Package [http://www.cs.uoregon.edu/research/tau/home.php](http://www.cs.uoregon.edu/research/tau/home.php) |
