| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| magpie-ohpc | 3.0 | Scripts for running Big Data software in HPC environments [https://github.com/LLNL/magpie](https://github.com/LLNL/magpie) |
| openpbs-execution-ohpc | 23.06.06 | OpenPBS for an execution host [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-client-ohpc | 23.06.06 | OpenPBS for a client host [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-server-ohpc | 23.06.06 | OpenPBS for a server host [http://www.openpbs.org](http://www.openpbs.org) |
| pmix-ohpc | 4.2.9 | An extended/exascale implementation of PMI [https://pmix.github.io/pmix](https://pmix.github.io/pmix) |
| slurm-devel-ohpc | 25.05.3 | Development package for Slurm [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-example-configs-ohpc | 25.05.3 | Example config files for Slurm [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sview-ohpc | 25.05.3 | Graphical user interface to view and modify Slurm state [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-perlapi-ohpc | 25.05.3 | Perl API to Slurm [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-contribs-ohpc | 25.05.3 | Perl tool to print Slurm job state information [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-ohpc | 25.05.3 | Slurm Workload Manager [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sackd-ohpc | 25.05.3 | Slurm authentication daemon [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmd-ohpc | 25.05.3 | Slurm compute node daemon [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmctld-ohpc | 25.05.3 | Slurm controller daemon [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmdbd-ohpc | 25.05.3 | Slurm database daemon [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-libpmi-ohpc | 25.05.3 | Slurm's implementation of the pmi libraries [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-torque-ohpc | 25.05.3 | Torque/PBS wrappers for transition from Torque/PBS to Slurm [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-openlava-ohpc | 25.05.3 | openlava/LSF wrappers for transition from OpenLava/LSF to Slurm [https://slurm.schedmd.com](https://slurm.schedmd.com) |
