| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| charliecloud-ohpc | 0.40 | Lightweight user-defined software stacks for high-performance computing [https://charliecloud.io](https://charliecloud.io) |
