{# Appendices Aggregator #}
\newpage
\appendix
# Appendices {.unnumbered}

{% include "appendices/automation-appendix.md.j2" %}
\newpage
{% include "appendices/upgrade.md.j2" %}
\newpage
{% include "appendices/test-suite.md.j2" %}
\newpage
{% include "appendices/customization.md.j2" %}
\newpage
{% include "appendices/manifest.md.j2" %}
\newpage
{% include "appendices/signature.md.j2" %}
