{# Deploy Aggregator #}
# Deploy Cluster

{% include "provisioner/deploy.md.j2" %}

{% include "scheduler/" ~ scheduler ~ "/startup.md.j2" %}
{% include "provisioner/confluent/deploy-" ~ scheduler ~ ".md.j2" %}