{# Introduction Aggregator #}
# Introduction
{% include "intro/intro.md.j2" %}
{% include "intro/edition.md.j2" %}
{% include "intro/audience.md.j2" %}
{% include "intro/requirements.md.j2" %}
{% include "intro/inputs.md.j2" %}
{% include "intro/automation-intro.md.j2" %}
