{% include "chapters/front-matter.md.j2" %}
{% include "chapters/introduction.md.j2" %}
{% include "chapters/base-os.md.j2" %}
{% include "chapters/ohpc.md.j2" %}
{% include "chapters/scheduler-slurm.md.j2" %}
{% include "chapters/provisioner-" ~ provisioner ~ ".md.j2" %}
{% include "chapters/customize.md.j2" %}
{% include "chapters/deploy-" ~ provisioner ~ ".md.j2" %}
{% include "chapters/dev-tools.md.j2" %}
{% include "chapters/post.md.j2" %}
{% include "chapters/test.md.j2" %}
{% include "chapters/appendices.md.j2" %}
