{# Provisioner Aggregator #}
# Install OpenCHAMI Provisioner

{% include "provisioner/provisioner.md.j2" %}

{% include "provisioner/openchami/intro.md.j2" %}
{% include "provisioner/openchami/install.md.j2" %}
{% include "provisioner/openchami/certificate-creation.md.j2" %}
{% include "provisioner/openchami/noproxy.md.j2" %}
{% include "provisioner/openchami/dhcp-config.md.j2" %}
{% include "provisioner/openchami/setup.md.j2" %}
{% include "provisioner/openchami/s3-setup.md.j2" %}
{% include "provisioner/openchami/client-install.md.j2" %}
{% include "provisioner/openchami/start-openchami.md.j2" %}

{% include "provisioner/openchami/compute-config.md.j2" %}
{% include "provisioner/openchami/compute-slurm.md.j2" %}
{% include "provisioner/openchami/compute-image-build.md.j2" %}

