{# Provisioner Aggregator #}
# Install Confluent Provisioner

{% include "provisioner/provisioner.md.j2" %}

{% include "provisioner/confluent/intro.md.j2" %}
{% include "provisioner/confluent/confluent-install.md.j2" %}
{% include "provisioner/confluent/confluent-setup.md.j2" %}
{% include "provisioner/confluent/init-os-images.md.j2" %}
{% include "provisioner/confluent/add-nodes.md.j2" %}

{% include "provisioner/confluent/boot-computes.md.j2" %}
{% include "provisioner/confluent/wait.md.j2" %}

{% include "provisioner/confluent/compute-setup.md.j2" %}
{% include "provisioner/confluent/compute-ohpc.md.j2" %}
{% include "provisioner/confluent/compute-slurm.md.j2" %}
{% include "provisioner/confluent/compute-nfs.md.j2" %}
