{# Warewulf v3 Provisioner Aggregator #}
# Install Warewulf Provisioner

{% include "provisioner/provisioner.md.j2" %}

{% include "provisioner/warewulf3/warewulf3-install.md.j2" %}
{% include "provisioner/warewulf3/warewulf3-setup.md.j2" %}

{% include "provisioner/warewulf3/compute-create-image.md.j2" %}
{% include "provisioner/warewulf3/compute-install-ohpc.md.j2" %}
{% include "provisioner/warewulf3/compute-install-scheduler.md.j2" %}

{% include "provisioner/warewulf3/compute-customize.md.j2" %}
{% include "provisioner/warewulf3/compute-import-files.md.j2" %}
