{# Provisioner Aggregator #}
# Install Warewulf Provisioner

{% include "provisioner/provisioner.md.j2" %}

{% include "provisioner/warewulf/warewulf-install.md.j2" %}
{% include "provisioner/warewulf/warewulf-setup.md.j2" %}

{% include "provisioner/warewulf/compute-create-image.md.j2" %}
{% include "provisioner/warewulf/compute-install-ohpc.md.j2" %}
{% include "provisioner/warewulf/compute-install-slurm.md.j2" %}

{% include "provisioner/warewulf/compute-import-files.md.j2" %}
{% include "provisioner/warewulf/compute-slurm.md.j2" %}
{% include "provisioner/warewulf/compute-infiniband.md.j2" %}

{% include "provisioner/warewulf/finalize-provisioning.md.j2" %}

