*.o
*.log
*.trs
*.txt
*.dat
test-suite.log.orig
#
#Plasma
#
res
out
config.h
config.h.in
stamp-h1
tests/ctesting
tests/dtesting
tests/stesting
tests/ztesting
tests/lin/xlintstc
tests/lin/xlintstd
tests/lin/xlintsts
tests/lin/xlintstz
