By default all repositories use
[http://repo.openeuler.org](http://repo.openeuler.org). For better network speed
it could be replaced with any of the mirrors listed
[here](https://www.openeuler.org/en/mirror/list/).
