## Optionally add InfiniBand support services on *head node*

The following command adds OFED and PSM support using base distro-provided
drivers to the chosen *head node*.

<!-- ohpc_begin -->
<!-- ohpc_comment Optionally add InfiniBand support services on head node -->
<!-- ohpc_if_set enable_ib -->
```bash
{{ pkg_group_install }} "InfiniBand Support"
# Load IB services
udevadm trigger --type=devices --action=add
systemctl restart rdma-load-modules@infiniband.service
```
<!-- ohpc_fi -->
<!-- ohpc_end -->

{% include 'network/infiniband/opensm.md.j2' %}

With the InfiniBand drivers included, you can also enable (optional) IPoIB
functionality which provides a mechanism to send IP packets over the IB network.
If you plan to mount a Lustre file system over InfiniBand, then having IPoIB
enabled is a requirement for the Lustre client. OpenHPC provides a template
configuration file to aid in setting up an *ib0* interface on the *head node*.
To use, copy the template provided and update the `${sms_ipoib}` and
`${ipoib_netmask}` entries to match local desired settings (alter ib0 naming as
appropriate if system contains dual-ported or multiple HCAs).

<!-- ohpc_begin -->
<!-- ohpc_comment Optionally enable IPoIB interface on head node -->
<!-- ohpc_if_set enable_ipoib -->
<!-- ohpc_comment Enable ib0 -->
```bash
cp /opt/ohpc/pub/examples/network/centos/ifcfg-ib0 \
	/etc/sysconfig/network-scripts

# Define local IPoIB address and netmask
sed -i "s/master_ipoib/${sms_ipoib}/" \
	/etc/sysconfig/network-scripts/ifcfg-ib0
sed -i "s/ipoib_netmask/${ipoib_netmask}/" \
	/etc/sysconfig/network-scripts/ifcfg-ib0

# configure NetworkManager to *not* override local /etc/resolv.conf
echo "[main]"   >  /etc/NetworkManager/conf.d/90-dns-none.conf
echo "dns=none" >> /etc/NetworkManager/conf.d/90-dns-none.conf
# Start up NetworkManager to initiate ib0
systemctl start NetworkManager

```
<!-- ohpc_fi -->
<!-- ohpc_end -->
