| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| gnu15-compilers-ohpc | 15.1.0 | The GNU C Compiler and Support Files. [http://gcc.gnu.org](http://gcc.gnu.org) |
| intel-oneapi-toolkit-release-ohpc | 2025.0 | Intel(R) oneAPI HPC Toolkit Repository Setup. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| intel-compilers-devel-ohpc | 2025.0 | OpenHPC compatibility package for Intel(R) oneAPI HPC Toolkit. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
