| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| trilinos-gnu15-impi-ohpc<br>trilinos-gnu15-mpich-ohpc<br>trilinos-gnu15-mvapich2-ohpc<br>trilinos-gnu15-openmpi5-ohpc<br>trilinos-intel-impi-ohpc<br>trilinos-intel-mpich-ohpc<br>trilinos-intel-mvapich2-ohpc<br>trilinos-intel-openmpi5-ohpc | 16.1.0 | A collection of libraries of numerical algorithms [https://trilinos.org](https://trilinos.org) |
