| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| boost-gnu15-impi-ohpc<br>boost-gnu15-mpich-ohpc<br>boost-gnu15-mvapich2-ohpc<br>boost-gnu15-openmpi5-ohpc<br>boost-intel-impi-ohpc<br>boost-intel-mpich-ohpc<br>boost-intel-mvapich2-ohpc<br>boost-intel-openmpi5-ohpc | 1.88.0 | Free peer-reviewed portable C++ source libraries [http://www.boost.org](http://www.boost.org) |
| fftw-gnu15-impi-ohpc<br>fftw-gnu15-mpich-ohpc<br>fftw-gnu15-mvapich2-ohpc<br>fftw-gnu15-openmpi5-ohpc<br>fftw-intel-impi-ohpc<br>fftw-intel-mpich-ohpc<br>fftw-intel-mvapich2-ohpc<br>fftw-intel-openmpi5-ohpc | 3.3.10 | A Fast Fourier Transform library [http://www.fftw.org](http://www.fftw.org) |
| hypre-gnu15-impi-ohpc<br>hypre-gnu15-mpich-ohpc<br>hypre-gnu15-mvapich2-ohpc<br>hypre-gnu15-openmpi5-ohpc<br>hypre-intel-impi-ohpc<br>hypre-intel-mpich-ohpc<br>hypre-intel-mvapich2-ohpc<br>hypre-intel-openmpi5-ohpc | 2.33.0 | Scalable algorithms for solving linear systems of equations [http://www.llnl.gov/casc/hypre](http://www.llnl.gov/casc/hypre) |
| mfem-gnu15-impi-ohpc<br>mfem-gnu15-mpich-ohpc<br>mfem-gnu15-mvapich2-ohpc<br>mfem-gnu15-openmpi5-ohpc<br>mfem-intel-impi-ohpc<br>mfem-intel-mpich-ohpc<br>mfem-intel-mvapich2-ohpc<br>mfem-intel-openmpi5-ohpc | 4.4 | Lightweight, general, scalable C++ library for finite element methods [http://mfem.org](http://mfem.org) |
