| **RPM Package Name** | **Version** | **Info/URL** |
|----------------------|-------------|--------------|
| petsc-gnu15-impi-ohpc<br>petsc-gnu15-mpich-ohpc<br>petsc-gnu15-mvapich2-ohpc<br>petsc-gnu15-openmpi5-ohpc<br>petsc-intel-impi-ohpc<br>petsc-intel-mpich-ohpc<br>petsc-intel-mvapich2-ohpc<br>petsc-intel-openmpi5-ohpc | 3.23.5 | Portable Extensible Toolkit for Scientific Computation [http://www.mcs.anl.gov/petsc](http://www.mcs.anl.gov/petsc) |
| ptscotch-gnu15-impi-ohpc<br>ptscotch-gnu15-mpich-ohpc<br>ptscotch-gnu15-mvapich2-ohpc<br>ptscotch-gnu15-openmpi5-ohpc<br>ptscotch-intel-impi-ohpc<br>ptscotch-intel-mpich-ohpc<br>ptscotch-intel-mvapich2-ohpc<br>ptscotch-intel-openmpi5-ohpc | 7.0.7 | Graph, mesh and hypergraph partitioning library using MPI [http://www.labri.fr/perso/pelegrin/scotch](http://www.labri.fr/perso/pelegrin/scotch) |
| scalapack-gnu15-impi-ohpc<br>scalapack-gnu15-mpich-ohpc<br>scalapack-gnu15-mvapich2-ohpc<br>scalapack-gnu15-openmpi5-ohpc<br>scalapack-intel-impi-ohpc<br>scalapack-intel-mpich-ohpc<br>scalapack-intel-mvapich2-ohpc<br>scalapack-intel-openmpi5-ohpc | 2.2.2 | A subset of LAPACK routines redesigned for heterogeneous computing [https://netlib.org/scalapack](https://netlib.org/scalapack) |
| slepc-gnu15-impi-ohpc<br>slepc-gnu15-mpich-ohpc<br>slepc-gnu15-mvapich2-ohpc<br>slepc-gnu15-openmpi5-ohpc<br>slepc-intel-impi-ohpc<br>slepc-intel-mpich-ohpc<br>slepc-intel-mvapich2-ohpc<br>slepc-intel-openmpi5-ohpc | 3.23.0 | A library for solving large scale sparse eigenvalue problems [http://slepc.upv.es](http://slepc.upv.es) |
