[Unit]
Description=Ganglia Monitoring Daemon
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/sbin/gmond 

[Install]
WantedBy=multi-user.target
