name: Validate

on:
  push:
    branches:
      - 2.x
  pull_request:
    branches:
      - 2.x

env:
  SKIP_CI_SPECS: |
    components/fs/lustre-client/SPECS/lustre.spec
    components/parallel-libs/trilinos/SPECS/trilinos.spec

jobs:
  check_spec:
    env:
      JOB_SKIP_CI_SPECS: |
        components/admin/ohpc-filesystem/SPECS/ohpc-filesystem.spec

    runs-on: ubuntu-latest
    container:
      image: docker.io/library/rockylinux:8

    steps:
    - name: Setup
      run: |
        dnf install -y epel-release git python3
    - uses: actions/checkout@v3
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - name: Validate Changes
      run: |
        export SKIP_CI_SPECS="${{ env.SKIP_CI_SPECS }}${{ env.JOB_SKIP_CI_SPECS }}"
        tests/ci/check_spec.py ${{ steps.files.outputs.added_modified }}

  lint_markdown:
    name: Run markdown linter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Lint markdown
      uses: DavidAnson/markdownlint-cli2-action@v9
      with:
        globs: |
          README.md
          CONTRIBUTING.md

  lint:
    strategy:
      matrix:
        step: [codespell, flake8, shellcheck, whitespace]
    name: Run ${{ matrix.step }} linter
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:latest
    steps:
    - name: Setup
      run: dnf -y install codespell make python3-flake8 ShellCheck
    - uses: actions/checkout@v3
    - name: Run ${{ matrix.step }}
      run: make -C tests/ci/ ${{ matrix.step }}-lint

  build_on_rhel:
    runs-on: ubuntu-latest
    name: Build on RHEL
    container:
      image: docker.io/library/rockylinux:8
    steps:
    - name: Install git
      run: dnf -y install git
    - uses: actions/checkout@v3
    - name: Setup
      run: tests/ci/prepare-ci-environment.sh
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - name: Validate Build
      run: |
        . /etc/profile.d/lmod.sh
        tests/ci/run_build.py ohpc ${{ steps.files.outputs.added_modified }}
        touch /tmp/empty
    - uses: actions/upload-artifact@v3
      with:
        name: rhel-rpms
        retention-days: 1
        path: |
          /home/ohpc/rpmbuild/RPMS/noarch/*rpm
          /home/ohpc/rpmbuild/RPMS/x86_64/*rpm
          /tmp/empty

  test_on_rhel:
    runs-on: ubuntu-latest
    name: Test on RHEL
    container:
      image: docker.io/library/rockylinux:8
      options: --privileged
    needs: build_on_rhel
    steps:
    - name: Install git
      run: dnf -y install git
    - uses: actions/checkout@v3
    - name: Setup
      run: tests/ci/prepare-ci-environment.sh
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - uses: actions/download-artifact@v3
      with:
        name: rhel-rpms
        path: /home/ohpc/rpmbuild/RPMS
    - name: Run CI Tests
      run: |
        . /etc/profile.d/lmod.sh
        chown ohpc -R tests
        tests/ci/setup_slurm_and_run_tests.sh ohpc ${{ steps.files.outputs.added_modified }}

  build_on_openEuler:
    runs-on: ubuntu-latest
    name: Build on openEuler
    container:
      image: docker.io/openeuler/openeuler:22.03-lts
    steps:
    - name: Switch repo
      run: sed -i "s@repo.openeuler.org@repo.huaweicloud.com/openeuler@g" /etc/yum.repos.d/openEuler.repo
    - name: Install git
      run: dnf -y install git
    - uses: actions/checkout@v3
    - name: Setup
      run: tests/ci/prepare-ci-environment.sh
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - name: Validate Build
      run: |
        . /etc/profile.d/lmod.sh
        tests/ci/run_build.py ohpc ${{ steps.files.outputs.added_modified }}
        touch /tmp/empty
    - uses: actions/upload-artifact@v3
      with:
        name: openEuler-rpms
        retention-days: 1
        path: |
          /home/ohpc/rpmbuild/RPMS/noarch/*rpm
          /home/ohpc/rpmbuild/RPMS/x86_64/*rpm
          /tmp/empty

  test_on_openEuler:
    env:
      JOB_SKIP_CI_SPECS: |
        components/runtimes/charliecloud/SPECS/charliecloud.spec
    runs-on: ubuntu-latest
    name: Test on openEuler
    container:
      image: docker.io/openeuler/openeuler:22.03-lts
      options: --privileged
    needs: build_on_openEuler
    steps:
    - name: Switch repo
      run: sed -i "s@repo.openeuler.org@repo.huaweicloud.com/openeuler@g" /etc/yum.repos.d/openEuler.repo
    - name: Install git
      run: dnf -y install git
    - uses: actions/checkout@v3
    - name: Setup
      run: tests/ci/prepare-ci-environment.sh
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - uses: actions/download-artifact@v3
      with:
        name: openEuler-rpms
        path: /home/ohpc/rpmbuild/RPMS
    - name: Run CI Tests
      run: |
        export SKIP_CI_SPECS="${{ env.SKIP_CI_SPECS }}${{ env.JOB_SKIP_CI_SPECS }}"
        . /etc/profile.d/lmod.sh
        chown ohpc -R tests
        tests/ci/setup_slurm_and_run_tests.sh ohpc ${{ steps.files.outputs.added_modified }}

  build_on_leap:
    runs-on: ubuntu-latest
    name: Build on LEAP
    container:
      image: registry.opensuse.org/opensuse/leap:15.3
    steps:
    - name: Install git
      run: zypper -n install git
    - uses: actions/checkout@v3
    - name: Setup
      run: tests/ci/prepare-ci-environment.sh
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - name: Validate Build
      run: |
        . /etc/profile.d/lmod.sh
        tests/ci/run_build.py ohpc ${{ steps.files.outputs.added_modified }}

  build_on_centos_stream_9:
    runs-on: ubuntu-latest
    name: Build on CentOS Stream 9
    container:
      image: quay.io/centos/centos:stream9
    steps:
    - name: Install git
      run: dnf -y install git
    - uses: actions/checkout@v3
    - name: Setup
      run: tests/ci/prepare-ci-environment.sh
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
    - name: Validate Build
      run: |
        . /etc/profile.d/lmod.sh
        tests/ci/run_build.py ohpc ${{ steps.files.outputs.added_modified }}
