{{ include_with_marker('common/manifest_intro.md.j2') }}

## Administrative Tools

{{ include_with_marker('manifest/admin.md.j2') }}

{% if isWarewulf %}
## Provisioning

{{ include_with_marker('manifest/provisioning.md.j2') }}
{% endif %}

## Resource Management

{{ include_with_marker('manifest/rms.md.j2') }}

## Compiler Families

{{ include_with_marker('manifest/compiler-families.md.j2') }}

## MPI Families / Communication Libraries {% raw %}{#mpi-families--communication-libraries}{% endraw %}

{{ include_with_marker('manifest/mpi-families.md.j2') }}

## Development Tools

{{ include_with_marker('manifest/dev-tools.md.j2') }}

## Performance Analysis Tools

{{ include_with_marker('manifest/perf-tools.md.j2') }}

{{ include_with_marker('manifest/perf-tools2.md.j2') }}

## IO Libraries

{{ include_with_marker('manifest/io-libs.md.j2') }}

{{ include_with_marker('manifest/io-libs2.md.j2') }}

## Runtimes

{{ include_with_marker('manifest/runtimes.md.j2') }}

## Serial/Threaded Libraries

{{ include_with_marker('manifest/serial-libs.md.j2') }}

## Parallel Libraries

{{ include_with_marker('manifest/parallel-libs.md.j2') }}

{{ include_with_marker('manifest/parallel-libs2.md.j2') }}

{{ include_with_marker('manifest/parallel-libs3.md.j2') }}
